[2018-04-16 19:18] ltGuillaume commented on #586
qBittorrent apparently knows its way to work around that, because after selecting the interface from a drop-down list, qBittorrent automatically converts that into an ip:port format to pass onto libtorrent.

[2018-04-16 19:18] vktr commented on #587
Yes, when presets are implemented we can revisit this and see how we can improve usability 😄 Right now the OK button is only the default.

[2018-04-16 19:31] ltGuillaume commented on #586
Yeah I guessed that would be what you meant, but still I think it's quite a security improvement: without the extra feature, any user with a VPN, someone who is using different networks or someone with a dynamic IP address would have to use 0.0.0.0, allowing PicoTorrent to get data via the listening port from any adapter.

[2018-04-19 18:17] dertuxmalwieder opened #592 "The main window always starts in double width"
I keep my PicoTorrent (latest release) centered on my main screen and I minimize it to the taskbar most of the time. However, every time I reboot my machine, PicoTorrent starts with a two-screen width, basically taking all available screen space. I would consider that a bug.

Win10 x64.

[2018-04-19 20:36] Eldaw opened #593 "View -> Preferences pops up window on other monitor"
If I've moved the PicoTorrent main application window to my secondary monitor, then when I go to View -> Preferences, the window pops up on my primary monitor (i.e. the wrong monitor).

All of the other dialogs, e.g. Help -> About, and Help -> Check for Update appear correctly on the same monitor where the main application window is.

[2018-04-19 20:44] Eldaw opened #594 "Remove .torrent file and data"
Instead of only 2 options to remove, it would be useful if there were 3. So something like:

* Remove
* Remove And Delete .torrent
* Remove And Delete .torrent + Data

For comparison, uTorrent has the above 3, plus an extra one:

* Delete Data

[2018-04-21 16:09] valery-kirichenko opened #596 "Some lines need i18n support"
"Of" can't be localised.
https://github.com/picotorrent/picotorrent/blob/ff2650f9ad8ae78cafb21d9adb31c3464a677e01/src/picotorrent/torrentlistviewmodel.cpp#L310
https://github.com/picotorrent/picotorrent/blob/ff2650f9ad8ae78cafb21d9adb31c3464a677e01/src/picotorrent/torrentlistviewmodel.cpp#L322

[2018-04-23 20:45] vktr commented on #594
Sounds good! A few questions though,

- What does *Delete data* do in uTorrent?
- Which .torrent file is removed? The source one? I.e the one that was passed to the application?

[2018-04-23 21:10] ltGuillaume commented on #567
Alright, I just read [url=https://www.reddit.com/r/Windscribe/comments/8edz8d/qbittorrentpicotorrent_100_cpu_when_reconnecting/](on Reddit) that an issue for qBittorrent has opened since the creation of this issue, https://github.com/qbittorrent/qBittorrent/issues/8740.

The erratic behavior is caused by Windscribe terminating the socket by force in order to prevent any leaking while not connected

[2018-04-24 09:05] djonh opened #601 "Option to move completed downloads"
I miss this option in version 1.4, is there any plan to add this option again?

[2018-04-24 09:08] vktr commented on #601
The latest version available here (
https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/k7bsvtq0jhm5g4ua/artifacts)has
this option again :) Sorry for the inconvenience!

On Tue, 24 Apr 2018 at 11:05, djonh <notifications@github.com> wrote:

[2018-04-24 09:09] vktr commented on #601
https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/k7bsvtq0jhm5g4ua/artifacts

On Tue, 24 Apr 2018 at 11:08, Viktor Elofsson <viktor@viktorelofsson.se>
wrote:

[2018-04-25 03:35] djonh commented on #601
Tested and confirmed that the option is now working as expected.
Thanks.

[2018-04-26 21:20] smaragdus opened #603 "update check fails"
When I triggered "Check for update" from PicoTorrent version 0.14.2 I got "No update available" message.

[2018-04-26 21:22] #603 closed, assigned to nobody

[2018-04-27 11:36] zmni opened #604 "Show/hide torrent columns and details panel"
Can you (re-)add that functionality? Thanks.

[2018-04-27 11:43] zmni commented on #604
Oh, I mean the details panel. Please also add an option or shortcut to toggle show/hide.

[2018-04-27 12:09] Eldaw opened #605 "NullReferenceException AB"
The name of the signer in the Digital Signature of the executable for v0.15.0 is 'NullReferenceException AB'.

[2018-04-27 12:13] vktr commented on #605
Correct, and it has been that way since way back, if not even v0.1 :)
That is the name of my company to which the code signing certificate
is issued.
The common name for code signing certificates must be the legal name of
the company, so unfortunately we cannot have it say PicoTorrent or such.

On Fri, Apr 27, 2018, at 14:09, Eldaw wrote:

Links:

  1. https://github.com/picotorrent/picotorrent/is

[2018-04-27 12:19] Eldaw commented on #605
OK, it is an unfortunate name for the company. In the security software I'm using, it appeared to be a bug. I'd logged a bug ticket here, thinking it was a bug:
https://forum.glasswire.com/t/version-none-publisher-nullreferenceexception/6432

[2018-04-27 12:25] Eldaw commented on #605
Signed builds are preferable. All I'm saying is that the choice of name is unfortunate, because when the name is flagged in security software it looks like a bug.

[2018-04-27 12:25] #605 closed

[2018-04-27 22:36] MrX-at-GitHub opened #607 "Balloon notifications"
Please add balloon notifications when a file's done downloading.

[2018-04-28 20:48] ArtexJay opened #608 "Magnet links issue"
Does not fetch data from magnet links, until I add it to my downloads.

[2018-04-28 20:55] ArtexJay opened #609 "Icon connected/offline/issues connecting"
Show if the torrent client is connect/offline/has issues connected either due to proxy or something.

[2018-04-29 22:11] vktr commented on #592
Are you running a high DPI display?

[2018-04-29 22:26] vktr commented on #592
I see. Strange - I'll see if I can reproduce it.

[2018-04-30 19:26] valery-kirichenko opened #612 "Some localization issues"
1) About PicoTorrent and Developers can't be localized
<img width="289" alt="screen shot 2018-04-30 at 22 15 05" src="https://user-images.githubusercontent.com/3050013/39445882-2d31267a-4cc5-11e8-8a74-e8c75993bbbc.png">
2) Settings sections labels don't fit
<img width="400" alt="screen shot 2018-04-30 at 22 15 15" src="https://user-images.githubusercontent.com/3050013/39445947-73262c7a-4cc5-11e8-9

[2018-05-01 07:22] abalteaux opened #614 "Crash when download starts"
With the latest release (0.15.0, Windows 10 Home x64), I can't seem to get past the fetching of magnet links metadata / get the download to start with a torrent file. The app crashes then.
I attached the event file log corresponding to it, please tell me if there's anything else you might need!

[crash-picotorrent.zip](https://github.com/picotorrent/picotorrent/files/1963195/crash-picotorrent.zip)

[2018-05-01 08:10] vktr commented on #614
Can you attach the magnet link or torrent file that fails? Or send it to
viktor@viktorelofsson.se

On Tue, May 1, 2018, at 09:22, Aurélien Balteaux wrote:

Links:

  1. https://github.com/picotorrent/picotorrent/files/1963195/crash-picotorrent.zip
  2. https://github.com/picotorrent/picotorrent/issues/614
  3. https://github.com/notifications/unsubscribe-auth/ABbDcM0lmA_4-eGCl-qnKykp-SlCVFD_ks5tuA

[2018-05-01 13:32] abalteaux commented on #614
Sure thing, the magnet link is magnet:?xt=urn:btih:60a06787f4d3fcf511a5425c837a9364684c8326&dn=Silicon.Valley.S05E06.1080p.WEB.H264-DEFLATE%5Brartv%5D&tr=http%3A%2F%2Ftracker.trackerfix.com%3A80%2Fannounce&tr=udp%3A%2F%2F9.rarbg.me%3A2710&tr=udp%3A%2F%2F9.rarbg.to%3A2710

Thanks!

[2018-05-01 17:51] ArtexJay commented on #608
When you add a magnet link to the torrent client a window pops up, usually with what files the magnet contains. For Pico, everything is blank, no size of the file, no information on what the files are, nothing. Until I click "ok" adding it to the downloads, then it starts downloading the metadata.

[2018-05-01 17:55] vktr commented on #608
Yes, that is because the magnet link doesn't contain that information. Previously we pre-fetched this but that would block the UI until the torrent was fetched. There is a similar issue in #577.

[2018-05-02 18:15] anorneto opened #615 "Button to toggle DL/UL limit"
First I gotta say that I really love picotorrent!! Congrats to the devs.

Can we have a button next to the dl and ul info on the botton bar to toggle dl and ul limit?

Idk how to add the feature request tag, sorry for that.

[2018-05-03 14:55] ttengine opened #616 "Cannot Remove Columns & 1 Other Issue"
I like the ability to remove columns I don't really need to see when I'm using other torrent apps, but I cannot do this in PT, which is annoying, as I like to be able to have more control over that part of the window with sizing other columns.

Someone has already mentioned that when you start up PT it opens double the size, it is also annoying, but I've also found that when clicking on the icon i

[2018-05-03 15:13] MrX-at-GitHub opened #617 "Balloon notifications"
sorry double post.

[2018-05-04 00:58] ttengine commented on #608
That is not true, qBitTorrent displays the contents after it reads the metadata & lets you choose what you want or don't want to download!

[2018-05-04 14:25] adamdjensen commented on #423
Plus one from me

[2018-05-07 10:26] AFaustini opened #619 "Fix Queue order after close program"
Sometimes, when we close picotorrent, the queue order, when reopening, is mixed. There is a way to fix it?

[2018-05-07 11:26] rvalles commented on #604
I'd rather have the details window back, too. I see the new details panel below as just clutter.

[2018-05-07 16:48] PoLaKoSz commented on #278
_I hope it's a good place to leave this._

I woud love this feature:
PicoTorrent automatically choose the label depending on what is in the tracker list.

[2018-05-08 10:57] valery-kirichenko opened #620 "Moving the download to a folder with a Cyrillic name is broken"
Two cases:
1. Torrent with latin file names: when you move it to a folder with a Cyrillic name PicoTorrent creates folder with the same name as you wish, but in wrong encoding (e.g. I want to move the download to a folder called "Тест", but instead PicoTorrent creates folder "Òåñò" and moves to it)
2. Torrent with Cyrillic file names: same thing, but it also renames all the files (and folders) to

[2018-05-08 16:12] MrX-at-GitHub opened #621 "Error when opening 2+ .torrent files simultaneously"
Select two or more .torrent files associated with PicoTorrent, obviously.
Run all of them at once.
Just one of them actually opens normally.
Second one or more throws this error:

![p](https://user-images.githubusercontent.com/16800851/39769053-abde315c-52b0-11e8-9790-f1b38f337871.png)

[2018-05-08 17:16] ArtexJay commented on #577
I prefer preloading since I do not  want to download everything in the magnet torrent

[2018-05-09 01:40] yegors commented on #567
Windscribe dev here. You can also reproduce the issue by terminating the TCP socket with https://www.nirsoft.net/utils/cports.html to take the VPN out of the equation.

This issue seems to affect a wide range of software that doesn't handle unexpected socket termination. This includes Plex, qBittorrent, Acronis True Image, Avid Media Manager.

[2018-05-13 21:58] #617 closed

[2018-05-14 02:27] boxfreind opened #622 "PicoTorrent will allow the same torrent to be added twice as two seperate downloads causing CTD"
name says it all. I can download a torrent from TPB and then go download the exact same torrent from 1337x and it will add the second torrent as a new download. Shortly afterwards, PicoTorrent will CTD and when I restart, any torrents I added between opening the program and the CTD will be gone.

[2018-05-14 03:16] ttengine commented on #608
qBittorrent takes about 5 - 10 seconds to show me that information from the magnet link, there are some other sites -- and I think it's a site issue -- that makes it take much longer to display it.

[2018-05-14 07:10] vktr commented on #608
qBittorrent searches the DHT for the torrent based on the info hash in
the magnet link. We used to do that as well but opted out since we
didn’t have a good solution that didn’t block the UI.

[2018-05-14 07:40] ttengine commented on #608
Clearly someone is not a good programmer!  And who cares if it blocks the UI in the background for a bit, you can always cancel it by clicking the download button!

[2018-05-14 07:42] vktr commented on #608
Thanks for the kind words! You are free to use whatever client meets
your needs :)

[2018-05-14 11:37] smaragdus commented on #608
@ttengine

You are an idiot for sure. If there are no seeders retrieving info may last for eternity.

[2018-05-14 12:39] ttengine commented on #608
If someone is stupid enough not to see there are no seeders showing for the listing on the trackers site, they are the stupid ones!

[2018-05-18 18:39] Uzer1 opened #626 "Picotorrent : No downloaded to uploaded ration shown"
Hello. I started this client today for the first time. I imported all my torrents. It seeds, but shows no downloaded to uploaded ratio. This is very important to know when to stop seeding based on this parameter. I see the rating column, but it stays at 0.000. Is it only me or this program shows no ratio?

[2018-05-18 18:43] Uzer1 commented on #626
**Update**
I have just discovered this. For torrents that I reloaded/rehashed from the HDD, the rating stays at 0.000.
But I took a magnet link from PirateBay, put it in this program, and it began downloading. After that it commenced seeding, and the rating began growing. **I see it shows no rating, but only for torrents importand from the hard drive.**

[2018-05-18 19:28] vktr commented on #626
Hi!

Have you actually downloaded anything or just started seeding? It’s
hard to calculate a ratio between upload/download if you haven’t
downloaded anything.

[2018-05-19 00:53] Uzer1 commented on #626
I just started seeding the files I had previously downloaded.

[2018-05-19 11:18] Dyras opened #627 "Did Microsoft kick PicoTorrent out of the Microsoft Store?"
Greetings! Just checked the store and PicoTorrent is gone. Were you kicked out or something?

[2018-05-19 19:52] ArtexJay commented on #608
I just hope  you manage to find a solution in due time, Pico is very promising torrent client.

[2018-05-20 18:37] vktr commented on #626
Did you download them with PicoTorrent or another client? PicoTorrent only tracks the data it downloads.

[2018-05-20 19:42] #620 closed

[2018-05-20 20:02] vktr commented on #621
I can't reproduce this. Is this with cyrillic file names or some other case? I've tried with up to four torrents without issue.

[2018-05-20 23:54] Uzer1 commented on #626
Yes, I could figure that out. I downloaded them with utorrent before that. Then imported into Picotorrent by rehashing. Now I understand how it works. I am closing this issue.

[2018-05-20 23:55] #626 closed

[2018-05-21 22:57] boxfreind opened #629 "Is there a way to assign a different port for the purpose of port forwarding?"
I would like to be able to assign Picotorrent to port 49502, as I always assign my software to a specific block of ports I allocate for each computer on my network.

[2018-05-22 01:50] bbaper123 commented on #629
Go to the connection tab in preferences and change the numbers at the end of both lines in the listen interface box like this imgur link `https://i.imgur.com/v8uGZRH.png`

[2018-05-26 19:35] picotorrentmaster commented on #383
so why even provide an option to limit upload speed if you are so concerned about seeders? Luckily I found qbittorrent that provide the feature to stop seeding when torrent is complete and not waste my limited bandwidth.

[2018-05-26 19:38] picotorrentmaster commented on #615
upload limit should be removed since you are so concerned about seeders

[2018-05-30 22:19] Dyras commented on #621
Does it work if you're not running it inside Sandboxie?

[2018-06-14 19:39] JBES opened #633 "Install error 80070666"
Hi,

The Picotorrent installer fails if you have any build of the VC 2017 redist already installed (even if newer) with error 0x80070666 making it impossible to install without unnecessarily modifying your system.

[code]

Thank you

[2018-06-15 07:59] xtemp09 opened #634 "Picotorrent crashes all the time"
Almost every time I add torrent, PicoTorrent crashes. I press "Send crash report".

Did the author receive them?

Windows 7 x64 Ultimate

[2018-06-15 11:29] vktr commented on #634
Hi! Sorry you're seeing crashes. Yes, we receive the crash dumps and are continuously using them to improve PicoTorrent :) Can you attach or send me the torrent file which makes the app crash? viktor@viktorelofsson.se

[2018-06-23 01:30] ArtexJay commented on #608
Just the fact that it does not fetch the metadata until you add it for download makes it a very cumbersome thing to have especially if you do not want to download the all the files in the torrent. Hope the issue gets solved .
I dont mind the UI being blocked till it's fetched especially since previously you could cancel the fetching and use the UI.

[2018-06-24 13:00] Bonobo79 commented on #634
[This](magnet:?xt=urn:btih:d77f2554eeb912d8bd73a474751dd4cadbada2ef&dn=Serious+Sam%27s+Bogus+Detour+%5BGOG%5D&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Fzer0day.ch%3A1337&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969) torrent crashes pico whenever you try to select it inside the window.

[2018-07-10 14:52] nxrighthere commented on #634
Torrent file for tests: [CrashTorrent.zip](https://github.com/picotorrent/picotorrent/files/2180871/CrashTorrent.zip)

[2018-07-10 16:16] vktr commented on #634
Thanks! I’m on vacation right now but I’ll take a look when I get home.

[2018-07-18 01:57] StoyanDimitrov commented on #608
Here is the workaround that I use:
1.Clear the Start torrent checkbox in the magnet add dialog;
2. When torrent added rightclick on it in the list of all torrents and select Recheck.
This seems to be enough to trigger metadata download (if enough seeders) w/o UI blocking.

[2018-07-27 13:14] CardealRusso opened #636 "Help me building for XP"
Even after setting toolset for xp, i get an error when running on XP (sucess build) because some depedency or required file is not for XP. I need to figure out what is.

[2018-08-05 08:25] wiktor-k commented on #530
Actually I think the "Add magnet link" dialog could be extended to also handle http(s) links (resolve the link and check if it returns a torrent file or magnet URI).

I just had a problem adding a torrent as the page used http links to redirect to magnet URI and PicoTorrent was not registered as a magnet URI handler. Suffice to say getting the magnet link was harder than I thought it would be.

[2018-08-06 16:01] vktr commented on #636
I think we use a few APIs that are not available on XP - and also the libraries that are pulled in from NuGet (wxWidgets, libtorrent, etc) are not compiled with the XP toolset.

If you're up for it you should start with building the libraries targeting the XP toolset and then build PicoTorrent against those.

[2018-08-06 16:02] vktr commented on #629
Hi @boxfreind!

Did @bbaper123's answer help you?

[2018-08-06 16:03] vktr commented on #621
@MrX-at-GitHub is this inside Sandboxie?

[2018-08-06 17:32] Dyras commented on #621
@vktr The [#] shows that it's inside Sandboxie. I doubt we'll ever hear from him again though, seeing as it's been 3 months.

[2018-08-06 17:37] MrX-at-GitHub commented on #621
Yes, your doubt is correct. It was 12 days from May 8 to May 20 for me to get a reply, so no thanks. I'll pass on this torrent client. Development's too slow.

[2018-08-06 17:40] vktr commented on #621
Sorry to hear that - I've been doing my best at managing real life as well as the various spare-time projects I run.

Anyways, I'll take a look at the issue this week. Perhaps there's someone else who might benefit from a fix 🙂

[2018-08-06 17:44] aselwyn1 commented on #621
who cares if he took a almost 2 weeks to reply its a free program that he is doing on the side

[2018-08-06 17:45] MrX-at-GitHub commented on #621
I do care.

Thanks for you concern @vktr

[2018-08-13 14:56] pitermach opened #638 "WX rewrite broke reading with screen readers, making list views very difficult to use for blind users"
Steps to reproduce:

- Download a screen reader program. The one I use personally and  recommend is [NVDA](https://nvda-project.org/) because it's free and can be installed portably.
- Once NVDA is started and begins reading what's on the screen, start PicoTorrent, add a download and then try to navigate the main window with the keyboard (tab into the list of downloads, then use the arrow keys to

[2018-08-15 01:46] Ruin0x11 opened #640 "Failed to create connection to server 'PicoTorrent' on topic 'ApplicationOptions': a client's attempt to establish a conversation has failed."
Updating to the latest version causes this error on startup and the application exits. It seems to be a wxWidgets issue.

![2018-08-14 18_42_27-picotorrent error](https://user-images.githubusercontent.com/6700637/44127356-d311a518-9ff1-11e8-9aac-bc2da18faa61.png)

I did uninstall/reinstall, clear the AppData folder and settings, but the same message appears.

The operating system is Windows 7.

[2018-08-17 10:01] vktr commented on #638
That is very odd - thanks for the detailed report! 👍

[2018-08-20 06:53] vktr commented on #640
Are you running through Sandboxie?

[2018-08-20 16:34] Ruin0x11 commented on #640
No, just normally.

[2018-08-23 20:01] slrslr opened #641 "Not all trackers are contacted when i added torrents"
PT 0.15.0

Hello,

i added torrent and on tracker tab i see on one torrent only one tracker was contacted and on other only ř trackers out of like 40. Rest trackers has nly "-" in all columns and clicking torrent or a tracker and selecting "Force reannounce" does nothing with it..

[2018-08-23 20:08] slrslr opened #642 "Allow renaming of the torrent contents/payload"
Hello, qbittorrent and utorrent are having important feature. It allows user to click torrent and on FIles tab rename the files and folders to match his/her existing directory structure. This renaming can be also done right when adding new torrent.

When the file or folder is renamed in the client, then the client will move/rename the files/folders on the HDD.

If i rename files/or folders on HDD,

[2018-08-23 20:11] slrslr opened #643 "Automatically recheck when adding torrent"
Hello,

i am a bit afraid to try this, so i want to ask if Pico torrent support this.

When i add torrent and already have partially or fully downloaded the payload (the files that are shared via that torrent). The Pico Torrent i think should automaticaly check the destination directory and do recheck so it do not download files again to same destination.

Thank you

[2018-08-23 20:17] slrslr opened #644 "Search field to filter the torrent list"
Hello, it can be handy if there is a search field which would instantly filter out items which name matching the search query. Maybe the Ctrl+F would be sufficing, though quicker would be built in field.

Search case insensitive, all countries aphabets

If easy, thena dding also excluding operator, like:
linux -ubuntu

[2018-08-23 20:28] slrslr opened #645 "Open payload/downloaded file or folder by double click"
Hello, it can increase usefulness of the software if i can doubleclick torrent or double click folder/file (on Files tab) and it will either open particular file in an default application for that file type, or for the folder will open Windows explorer.

[2018-08-23 20:59] slrslr opened #646 "Program forget last state when crash. Runtime error when attempting recheck torrent while other torrent is rechecking"
0.15.0

Hello, when i attempt to recheck torrent while other torrent is already rechecking, then i see Runtime error and also other crash where WIndows 10 invite me to close the app, No other option.

And when i reopen app, then it forgets torrents i rechecked during the previous session.

THis issue with rechecking does not happen always apparently. But most important think is that Pico Torrent d

[2018-08-23 21:04] slrslr opened #647 "Wrong sorting by name (diacritics and letter case play role)"
Hello, in 0.15.0 the sorting by torrent name does not work properly, because

torrent with small letter (letter case) as the first character are sorted at the end of the list after Z, example:

Alphabet
Certificate
Zebra
alphabet

Second thing is the some (unsure if all) characters with diacritics (czech 1250) ěščřžýáíé are always after Z, though it is i think wrong, it should be like this:
Alphab

[2018-08-23 21:06] slrslr opened #648 "Sorting by "Status" column does not work"
items are not sorted if i click Status column

[2018-09-02 13:07] wintercounter commented on #640
+1 Same issue for me. The client just freezed while downloading, now I cannot do anything with it.

[2018-09-04 18:32] rctgamer3 opened #649 "Pressing space does not toggle file checkbox in file list"
Title.

[2018-09-04 18:33] rctgamer3 opened #650 "Inconsistent unchecking behaviour in file list"
Unchecking a file causes other files to become unchecked as well, at times.

[2018-09-07 13:06] ArtexJay commented on #607
Also add the Windows 10 toast support for windows 10

[2018-09-18 07:39] andreysaksonov commented on #592
it is 100% reproducible on my dual Dell 1920x1080 setup

[2018-09-19 07:28] Urgarth commented on #634
@vktr Hey! crashes still here. How we can fix it?

[2018-09-27 11:40] rctgamer3 opened #651 "No longer HiDPI compatible since 0.14.2"
Now appears blurry.

[2018-10-01 07:52] StoyanDimitrov commented on #592
Dual 1920x1080 here too. The main display is standalone Dell, the extended one is a laptop physically located to the left of the main. The application starts on the main and is significantly wider than it.
[code]

[2018-10-03 20:46] rctgamer3 opened #652 "Adding magnet, then adding its .torrent counterpart crashes PicoTorrent"

[2018-10-03 21:03] rctgamer3 commented on #652
dupe of #622

[2018-10-03 21:03] #652 closed

[2018-10-06 17:55] parmeets834 opened #654 "How to import project in which software"
please add complete instruction regarding import this project i am try to import in visual basic but said failed to import please upload complete instructions include with softwares that support this project

[2018-10-06 17:56] parmeets834 commented on #644
which software is used to import this project

[2018-10-08 07:04] vktr commented on #650
Do you have other files selected? Or are they a part of a sub-tree?

[2018-10-08 07:04] vktr commented on #654
You should be able to generate a Visual Studio solution file with the CMakeLists.txt file included in the project. Visual Basic is not supported and never will be, this project is C++ and requires the MSVC toolchain.

[2018-10-08 07:04] #654 closed

[2018-10-16 11:26] asifraza88 opened #655 "Auto Shutdown Feature Request"
Hi. i've just started using picotorrent everything is working 100% the only thing bother me is small feature which almost every other torrent client has which is auto shutdown when downloads complete can you please add it in next update? it would be lovely and perfect torrent client.

[2018-10-17 16:11] #651 closed

[2018-10-17 17:08] #622 closed

[2018-10-17 18:08] #634 closed

[2018-10-21 07:54] dza89 commented on #407
@pyorokun7
Nope, I think that's the same issue. I think the issues lies with pico_state_message.rst.  I will try to reproduce the issue this week.

[2018-11-03 19:44] pmcanseco opened #659 "Requesting ability to see how much data has been downloaded for a particular torrent."
When torrenting, I see that there are progress bars for the whole torrent, and per file. There's also current download and upload speed. However, I'd also like to see how much I've downloaded of my torrent, like perhaps as a tooltip on the progress bar or something that says for example "100mb / 22gb"

[2018-11-16 05:31] Tom4tot commented on #185
In case people were wondering, you can set the portable version of PicoTorrent as the default torrent client following this:
For .torrent files, just right click on a file, open with, tick "always use this app" and then pick the right .exe file.

For magnet, it's a little more complicated but not that much.
Open regedit, browse here:
`HKEY_CLASSES_ROOT\Magnet\shell\open\command`
Then double-click

[2018-11-17 16:18] Andrewer11 opened #660 "Language not loading the numbers etc."
In the hungarian version of PicoTorrent
the DHT, DL at the bottom statusbar not showing
and the pieces of a torrent
look the images what i uploaded....
First is the hungarian second one is the english
EDIT: i using the x64 portable version v0.15.0
![2018-11-17_17-17-28](https://user-images.githubusercontent.com/15068193/48663190-b0f57f00-ea8c-11e8-98db-8e57b3f3d35f.png)
![2018-11-17_17-16-33](http

[2018-11-17 16:19] Andrewer11 commented on #660
btw may other langs are affected i did not check

[2018-11-26 05:20] kilves76 opened #661 "Remove trackers on selected torrents"
Please make it possible to select many torrents, right click and remove their trackers, to stay seeding in DHT/PEX/LSD only. Similar rule to "After seeding to 300%, limit upload rate to N kb/s", but for tracker selection.

It'd be nice if DHT/PEX/LSD were shown and treated as trackers, so they could also be en/disabled at will for many torrents at once, for whatever reason.

^^^ only this is reall

[2018-11-26 09:34] itsarjunsinh opened #662 "Download priority shortcut"
PicoTorrent 0.15.0 supports changing the download priority of a folder.  However it is not possible to the change download priority of multiple files within a folder at once. So it is required to manually alter the download priority of files which is a very tedious process. Shortcuts for changing download priority would make this process a lot easier.

[2018-11-29 07:31] vktr commented on #661
Hi! Cool suggestions - there are some related thoughts on labels and such in the [Presets](https://github.com/picotorrent/picotorrent/projects/4) project. I'm adding this to that project as well.

[2018-12-01 11:43] Ishino0 opened #663 "IP blocklists"
Hi,

First, thanks for your pico, very powerfull & tiny torrent app, do the job, remember me the good old days with μT.
I love the gui integration w/ windows 10.

And, I wanted to know if you could add the ipfilter feature.
Like in Deluge, or just take into account the ipfiler file (dat etc..) like in μT, qB.. .

That's a small feature,  that can be very useful.
I use that for family pc's  to give

[2018-12-04 16:59] MrVhek opened #664 "Crash when disk full & restart loosing all torrents"
Hello,
Just got a problem with my torrent, not the first time it's happening for me. I have the 0.15 version so the last (as it seems).
The first problem is I set the download for the day and my diskspace went full, and it's seems that the client crashed when reaching the full space.
The second issue is that I losed all my download because of the crash (mostly magnet), are they saved ? It's not th

[2018-12-06 15:29] vktr commented on #664
Hi! Thanks for the report. I'll see if I can add a check for when the disk space gets below a certain threshold.

[2018-12-06 15:32] vktr commented on #407
Hi, sorry you're experiencing this issue. I'll see if I can put some more effort in hunting down the problems you are experiencing!

[2018-12-10 15:06] hvonw opened #665 "[Feature Request] GeoIP Flags + Host name resolver"
Can you add these features If it will not have much effect on performance? (Default: Off)
I think these two features are already available in the lib picotorrent uses. (arvidn/libtorrent)

[2018-12-10 21:44] vktr commented on #665
Hi! The version of libtorrent we use (recent `master`) does not include this - I know libtorrent previously had this functionality but it has been removed. It doesn't mean we shouldn't do it, though. I like the idea.

[2018-12-10 23:10] sgch36 opened #666 "Crashes when viewing torrent downloaded to network drive"
I've downloaded a torrent to my network drive, but now I'm done with it I'd like to remove it. When I select it to remove Pico crashes every single time.

[2018-12-11 01:19] hvonw commented on #665
Hi Viktor,
Thank you for all your hard work. Been using your client for a while. It's really great, lightweight client.

[2018-12-11 01:27] hvonw opened #667 "[Feature Request] Advanced Settings page for picotorrent/libtorrent"
Hey dear Viktor,
PicoTorrent Power users will be really happy to have this. :-]
(https://github.com/arvidn/libtorrent/blob/master/src/settings_pack.cpp)

[2018-12-11 09:16] vktr commented on #667
Hi! There is an advanced setting page already - however it only has one setting (Encrypt config file) right now 😄 Is there a specific group of settings you'd like to see? Or every one?

[2018-12-11 09:17] sgch36 commented on #666
Yes it is.

Sam

On Tue, 11 Dec 2018, 09:16 Viktor Elofsson <notifications@github.com wrote:

[2018-12-31 12:29] blueshell1 opened #669 "Donation link page errors on website"
Hi, just wanted to drop a note that it looks like the donation link on the PicoTorrent website seems to be broken at the moment. Possible you need to update your Stripe link?

This is on https://picotorrent.org/#/donate

In the Stripe pop-up when clicking on the Donate link this error appears:

    Expired API Key provided: pk_live_********************Axti

Just wanted to let you know :)

[2018-12-31 12:37] vktr commented on #669
Hi! Thanks - yes I'm aware :) I had to roll the API keys since the donation form was a target of someone trying to make hundreds of donations with stolen credit card numbers. I just haven't had the time to put things back in order.

Thanks anyway!

[2018-12-31 13:39] vktr commented on #648
Fixed in #668.

[2018-12-31 13:39] #648 closed

[2019-01-03 11:51] zeerorg commented on #662
The manager lacks the ability to select multiple torrent files in the pane. I was working on that feature. Will that feature be helpful in this scenario?

[2019-01-03 21:38] itsarjunsinh commented on #662
Yes, I think the ideal solution would be the ability to change the download priority of multiple files at once. If that's possible then there's not a lot of use for download priority shortcuts.

[2019-01-04 08:40] vktr commented on #662
@zeerorg Looks cool! I'm currently doing some big refactorings in preparation of the next version and this would be fixed by that as well.

I'd appreciate a PR but I don't think it will make it to release. Hit me up on Gitter if you want to discuss!

[2019-01-06 18:38] Andrewer11 commented on #660
where can i find the `langs` dir?

[2019-01-06 19:07] vktr commented on #660
@Andrewer11 Sorry, it was `lang`, it's located in the repository root, https://github.com/picotorrent/picotorrent/tree/develop/lang. I think this is the Hungarian translation file, https://github.com/picotorrent/picotorrent/blob/develop/lang/1038.json.

If so, you can compare it with the English one (1033.json) and see if anything is missing.

[2019-01-08 13:20] rmarquis opened #676 "Use monocrome icon for system tray"
Starting from Windows 7, system tray icons of windows are monochome colored. It would be great to have a default white icon for picotorrent in the system tray too.

[2019-01-08 13:21] vktr commented on #676
Hi! That's a good suggestion - I'll see if I can produce something usable, graphics design and such isn't my strong suit 😄

[2019-01-08 13:58] rmarquis commented on #676
I actually have on file that might be used, from a reddit thread [here](https://www.reddit.com/r/Windows10/comments/a6reto/finally_the_start_menu_how_i_want_it_after_too/ebz1ma0/). I'm not the author though, but it looks like the author of the file would be fine in having this update.

[2019-01-08 14:01] vktr commented on #676
That's pretty neat - I'll reach out and get written permission on it :)

[2019-01-09 15:38] ivanjaros commented on #645
Yeah, same here. I am missing the double-click on the torrent to open the directory and double-click on file to open/play the file.

[2019-01-09 15:39] vktr commented on #645
Sorry for the delay on this one - the good news is I've planned it for the v0.16 release which will be out soon.

[2019-01-09 15:39] ivanjaros commented on #489
Yep, some toolbar with basic actions is really needed. Right mouse click to do everything is very bad UX.

[2019-01-09 15:40] ivanjaros commented on #457
Yes, the basic overview tooltip is really needed.

[2019-01-09 19:41] TechnoGreg commented on #592
Confirmed here too, latest build is concerned.

[2019-01-10 11:39] Siilwyn opened #677 "Scaling text breaks with Windows causes blurry text"
Text in picotorrent seems to be blurry when changing the scaling for text under Window's display settings.

Example with the explorer open for comparison:
![image](https://user-images.githubusercontent.com/5701149/50966227-9c55c600-14d4-11e9-931a-c99679b28a71.png)

[2019-01-11 06:52] vktr commented on #677
Does it work if you log out and back in again?

[2019-01-11 08:40] Siilwyn commented on #677
@vktr thanks for the reply, do you mean log out of windows? If so: that doesn't resolve it, I've had multiple reboots since but this bug is always present.

[2019-01-13 02:54] junh1024 opened #678 "Easier Partial Downloading (FR)"
Currently, you need to do 3 clicks to select files to DL
Click >  Priority > Do not download

You could make it easier to do Partial Downloading by:
- implementing checkboxes like utorrent & transmission
https://www.simplehelp.net/images/utorrent/ut10a.jpg
https://www.simplehelp.net/images/transmission/tm03.png

- Moving  "Do not download" up 1 level in menu hierarchy

[2019-01-13 03:05] junh1024 opened #679 "Accessibility Issues"
- Make torrent &  file menus respond to context menu key/shift F10 (currently they only respond to right-click)
- Add Menu shortcut keys to torrent  &  file menus
Example:
No shortcuts keys:
!(https://www.groovypost.com/wp-content/uploads/2013/01/Notepad-Before.png)

With shortcuts keys:
!(https://www.groovypost.com/wp-content/uploads/2013/01/After-Notepad.png)

[2019-01-13 10:02] Siilwyn commented on #677
Oh I see the commit now! For posterity this issue is fixed by 1aefffe909ea3277214e49bded09a3117ed288d6.

Can't wait for the upcoming release!

[2019-01-13 14:14] wkoncki opened #680 "Remove taskbar progress indicator when no torrents are downloading"
Hi

I currently have one torrent that finished downloading and is being seeded in Pico Torrent yet taskbar icon is still highlighted. It looks like this:
![taskbar](https://user-images.githubusercontent.com/9073427/51086315-b813d300-1745-11e9-826e-38526a1192d4.png)
It would be great if this green background was not displayed when there are no torrents currently downloading.

[2019-01-15 16:11] ivanjaros opened #681 "New release?"
Last release was  26 Apr 2018 and I see a lot of commits since then. Any plans for a new release?

[2019-01-15 16:11] vktr commented on #681
Hi! Yes, I'm currently working in the 0.16 release here, https://github.com/picotorrent/picotorrent/pull/672.

[2019-01-15 16:53] #681 closed

[2019-01-20 23:02] thumbsized opened #682 "Unstarted torrent will disappear after restart"
When I add new torrent and I don't start it and I restart picotorrent the torrent will no longer be shown in the list.

[2019-01-21 05:53] vktr commented on #682
Strange - can you give me a step by step on how you reproduce it?

[2019-02-01 04:51] hvonw commented on #667
µTorrent style parameter configuration that would be good also.
![untitled](https://user-images.githubusercontent.com/33164301/52103295-02c29580-25f6-11e9-9218-255eadd96aff.png)

[2019-02-12 11:25] Ben232 opened #683 "Download/Upload Speed Limit with Time Set Option"
An option which would let you set you a download and upload limit for a specified time, for example from 8pm - 10pm the download speed is limited to 10mbps and after the download and upload limit is gone and the torrent downloads at full speed or global set speed

[2019-03-08 20:59] beerisgood opened #684 "Dont' use %temp% as environment"
I try start the PicoTorrent-0.15.0-x64.exe from D:\FOLDER\FOLDER\FOLDER\FOLDER which try to start from
C:\Users\USER\AppData\Local\Temp\{D6235002-0CDE-475E-BFEE-BA75E277B4B8}\.cr\PicoTorrent-0.15.0-x64.exe and got blocked by SRP.

Why the binary just can't start from the path i start it? Using %temp% isn't good choice, security wise

[2019-03-08 21:03] vktr commented on #684
Hi! I’m not sure I follow. Are you using the installer or the zip file?

This looks like you are trying to run PicoTorrent.exe straight from the zip file (letting Windows extract it to a temp dir). Is that the case?

Otherwise, some further information on your environment and how you provoke the error would be nice! :)

[2019-03-08 21:19] beerisgood commented on #684
I use the "PicoTorrent-0.15.0-x86.exe" from https://github.com/picotorrent/picotorrent/releases

Isn't that the binary which start without any installation? Otherwise the label "installer" would be better.
Then of course i would use PicoTorrent-0.15.0-x64.zip

[2019-03-09 16:44] taotien opened #685 "Chinese/Japanese characters in magnets crash on 0.15.0 : "Total error when parsing""
Any magnet link that has Chinese and Japanese characters causes this error, resulting in an immediate crash. Works fine if the link is pure English or a .torrent file.

[2019-03-09 16:47] vktr commented on #685
Hi! Can you attach a magnet link that causes a crash? Or email it to me at viktor@viktorelofsson.se if it’s sensitive!

[2019-03-09 19:34] vktr commented on #684
Yeah, the `.exe` file is an installer - it probably tries to extract some temporary files to the directory you mentioned before it goes ahead with installation. I'll see if we can use a better naming scheme in the future- sorry about the confusion 😄

And as you found out, the `.zip` files are portable versions which run directly from the folder you extract them to. Glad you got it working!

[2019-03-09 19:35] taotien commented on #685
Yeah, here's a random example:
magnet:?xt=urn:btih:39a05b618be58e85c59786d9f6c8b7b57b9c766a&dn=%E3%80%90%E5%9B%BD%E6%BC%AB%E3%80%91%5B%E8%90%8C%E5%A6%BB%E9%A3%9F%E7%A5%9E%5D%5BMeng%20Qi%20Shi%20Shen.2018%5D%5B01-12%5D%5B1080P%5D%5BCHD%5D&tr=http%3A%2F%2Fnyaa.tracker.wf%3A7777%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A

[2019-03-09 19:37] vktr commented on #685
Thanks! I'll see if I can reproduce it, and if so schedule a fix for the next release.

[2019-03-09 19:39] taotien commented on #685
Great! Looking forward to next release~

Also just noticed the link I grabbed at random was something I was looking for lel

[2019-03-09 20:53] beerisgood commented on #684
I guess the problem is then solved :D

[2019-03-09 20:53] #684 closed

[2019-03-19 09:54] vktr commented on #680
This is fixed in #672.

[2019-03-19 09:54] #680 closed

[2019-03-19 10:25] wkoncki commented on #642
If this is time consuming or too complex we could also get option to simply rename elements on torrent list. qBittorrent has something like that. It does not touch files on disc but allows the list to be bit more tidy. Some torrent names can be way too long, and make torrent list unreadable with all the [tags].

[2019-03-19 10:35] vktr commented on #642
Both suggestions sounds reasonable 😄

[2019-03-19 10:37] vktr commented on #682
I can't reproduce it in #672 so I'm closing this for now.

[2019-03-19 10:37] #682 closed

[2019-03-19 10:43] vktr commented on #586
This is now fixed in #672 - you can bind PicoTorrent to a specific network adapter.

<img width="442" alt="image" src="https://user-images.githubusercontent.com/1491824/54600064-3f2e4180-4a3c-11e9-8694-ef73f63c31f5.png">

[2019-03-19 10:43] #586 closed

[2019-03-19 18:20] vktr commented on #608
Hey everyone involved in this thread 😄 I've finally gotten around to fixing this issue once and for all. The new behavior is implemented in #672 and will be released with v0.16.

It now works as follows,

 * Paste your magnet links in the textarea.
 * Click *Ok*.
 * The Add torrent dialog will now open with only the information visible from the magnet link (ie. if it specifies a display name, it i

[2019-03-19 18:20] #608 closed

[2019-03-19 18:22] vktr commented on #577
This has been added in #672 and was also discussed in #608 😄 It will be released with v0.16.

[2019-03-19 18:22] #577 closed

[2019-03-20 21:51] vktr commented on #685
This has been fixed in a recent commit in #672 and will be released with v0.16 😄 Thanks for the report!

[2019-03-20 21:51] #685 closed

[2019-03-20 21:59] vktr commented on #636
Closing this as XP is not a target we will support.

[2019-03-20 21:59] #636 closed

[2019-03-20 22:01] vktr commented on #614
I'm going through older issues in preparation of the next release and I can't reproduce this issue in #672 which is the base for the next version (0.16). Closing this for now.

[2019-03-20 22:01] #614 closed

[2019-03-20 22:02] vktr commented on #484
Closing this due to inactivity and lack of detail.

[2019-03-20 22:02] #484 closed

[2019-03-20 23:23] vktr commented on #640
This has been resolved with #672 which will be released as v0.16.

[2019-03-20 23:23] #640 closed

[2019-03-20 23:26] vktr commented on #604
Both torrent columns and the details panel can be shown/hidden in #672 which will be released as v0.16. I'm closing this one.

[2019-03-20 23:26] #604 closed

[2019-03-20 23:29] vktr commented on #503
I haven't been able to reproduce any column ordering issues in #672 so I'm closing this for now. Please reopen if necessary after v0.16 has been released.

[2019-03-20 23:29] #503 closed

[2019-03-26 18:32] vktr commented on #616
This is fixed in #672.

[2019-03-26 18:32] #616 closed

[2019-03-27 10:18] vktr commented on #645
I've fixed this in #672. It won't directly open the file when double clicking it in the list, instead it will open explorer with the file selected.

[2019-03-27 10:18] #645 closed

[2019-03-27 11:31] vktr commented on #607
Fixed in #672. Sorry for the delay!

[2019-03-27 11:31] #607 closed

[2019-04-04 06:10] ecrvnr opened #686 "Torrents added via magnet link will disappear from download list if PicoTorrent is exited before meta data was downloaded"
If i add a torrent via magnet link and close PicoTorrent before the meta data information was downloaded, the torrent will be missing from the download list the next time i start PicoTorrent.

Steps to reproduce:

1. Add Magnet link torrent
2. Immediately close PicoTorrent
3. Start PicoTorrent again
4. Torrent added in Step 1 is missing from the download list.

I know this was already mentioned in

[2019-04-04 06:11] vktr commented on #686
Hi! This is fixed in #672 which is the PR for the next release (v0.16). Sorry for the trouble!

[2019-04-04 06:13] ecrvnr commented on #686
@vktr Oh hey that was quick! I was a bit worried because the other issue was from 2016, but glad to see it wasn't forgotten. Thanks!

[2019-04-04 06:14] #686 closed

[2019-04-30 09:41] ayodio opened #687 "Ability to copy instead of move when download is finished"
Hi, it would be great in my use case to be able to copy instead of move the finished download. Is that a possible option ?

thanks for the great product.

[2019-05-14 16:28] raspher opened #688 "Localization Docs"
I see there are some languages, but there is no documentation how it should look like.

filename should contain only LCID - https://www.science.co.il/language/Locale-codes.php

those and more information should be readable from http://docs.picotorrent.org/en/master/

[2019-05-15 08:23] vktr commented on #688
Thanks, yeah we're missing quite a lot of documentation sadly. I'll see if I can take some time to update it in preparation for the next release :)

[2019-06-02 08:03] sagudev opened #691 "Ability to move torrent file when torrent finished"
Most used torrent clients have functionality to move `.torrent` file when torrent finished downloading. Would be possible to implement this in picotorrent?

[2019-06-04 18:21] vktr commented on #691
Sure - sounds like a reasonable request 😄

[2019-06-04 18:24] vktr commented on #687
Sorry for the late answer on this one. The move functionality is only a thin wrapper on top of the libtorrent functions which does the actual move which is why I'm reluctant to add this since a copy operation on a multi-gigabyte torrent would take some time depending on the source/target disk and you'd need to track this somehow as well as report progress.

Do you have a specific use case in mind?

[2019-06-04 18:25] vktr commented on #683
Sorry for the late answer. A scheduler is planned, and I think there's at least one other issue talking about it 😄

[2019-06-08 09:43] uzerus opened #692 "Polish Translation"
If you can, please include polish translation in next version of picotorrent. It's verry important to me and my friends.

[2019-06-10 19:34] vktr commented on #548
Added in #672.

[2019-06-10 19:34] #548 closed

[2019-06-12 15:28] vktr commented on #646
Can't reproduce this in #672 - closing this and should it happen again when 0.16 has been released, feel free to reopen 😄

[2019-06-12 15:28] #646 closed

[2019-06-12 18:23] vktr commented on #585
I've added this feature in #672 with a fixed (for now) percentage at 5% disk space. It's in the config but not adjustable in the UI at the moment.

[2019-06-12 18:23] #585 closed

[2019-06-12 18:23] vktr commented on #664
I've added this feature in #672 with a fixed (for now) percentage at 5% disk space. It's in the config but not adjustable in the UI at the moment.

[2019-06-12 18:23] #664 closed

[2019-06-12 18:56] ltGuillaume commented on #585
Very cool, thank you! :-) Personally I think a fixed amount of megabytes makes more sense than a percentage, but this'll do just fine.

[2019-06-12 19:03] vktr commented on #585
Yeah, the plan is to further enhance it in the upcoming versions. This is just a simple fix for the immediate problem :)

[2019-06-14 20:28] vktr commented on #692
I've added it to the next version in #672. Thanks!

[2019-06-14 20:28] #692 closed

[2019-06-14 20:44] vktr commented on #638
Just tried in the ongoing branch for the next version (#672) and it works as it should. So stay tuned! And sorry for breaking screen reading.

[2019-06-14 20:44] #638 closed

[2019-06-14 20:47] Flameborn commented on #638
Thank you for taking the time to fix this issue, it is very much appreciated.

[2019-07-11 17:47] thumbsized commented on #682
Happened to me again. I think it is the same as #686

[2019-07-16 16:56] kathampy opened #695 "Ephemeral / outgoing ports"
Please allow selecting the ephemeral / outgoing port / port range. This is required to setup load balancing rules on a router.

[2019-07-19 02:25] ArtexJay commented on #676
If you plan on using monochrome PicoTorrent will have to first detect if the OS is using a light theme for taskbar or dark theme. And use the appropriate monochrome icon.

[2019-07-19 02:27] ArtexJay commented on #495
Too bad this is not feasible. Would look great on this Torrent program.

[2019-07-21 22:11] robotbroken commented on #592
Confirmed. I have three 4k monitors (Samsung UH750 + 2 Samsung UE590D) side-by-side. When the picotorrent application opens it covers at least 2 of the screens and goes off even further. It is pretty annoying.

PicoTorrent 0.15.0.
Windows 10 Version 10 17134
nVidia GeForce 1080 Ti w/ latest drivers

[2019-08-01 16:15] yegors commented on #567
Still no fix here. :(

[2019-08-13 08:37] tapper82 commented on #679
Pleas add more a11y because blind people cant use the interface.

[2019-08-23 02:33] blountb1 opened #697 "Pico Torrent constantly crashing"
Pico Torrent is constantly crashing when I just click on it anywhere...I try to remove a finished download and that makes it crash as well. How Do I fix this?

I'm using PicoTorrent-0.15.0-x64 and have Windows 10 build 15063.

[2019-08-23 20:22] vktr commented on #697
Odd - it seems like it has got stuck in an invalid state. You might need to remove some state data from the PicoTorrent application data folder - `%APPDATA%\PicoTorrent\Torrents`. The files in that folder should come in pairs, one `.torrent` and one `.dat` with the same base name. See if you can find a single `.dat` file and remove that.

[2019-08-23 22:16] blountb1 commented on #697
There was no folder in my C:\Users\defaultuser0.DESKTOP-RME0S0B\AppData\Roaming directory but there is a PicoTorrent folder in my

C:\Users\defaultuser0.DESKTOP-RME0S0B\AppData\Local\PicoTorrent directory.

I saw a session.dat file there and deleted it and then restarted Pico and I was able to remove a finished torrent but then just as soon as I tried to click *anywhere* (like last time) after tha

[2019-08-24 19:28] vktr commented on #697
If you feel adventurous you can delete the `Torrents` folder in the same directory. This will remove all torrents from PicoTorrent (but not the data).

[2019-08-24 20:45] blountb1 commented on #697
I actually deleted the torrents folder last night because some torrents weren't downloading then while ago downloaded more and everything seemed fine but then completely closed the program and reopened it just now to add more torrents and again like before just as soon as I tried to click *anywhere* (like last time) after that the program crashed.

[2019-08-31 15:48] Alexdiff opened #698 "Pico Torrent downloading file's meta is slow and most of the time not downloading at all"
Waited for like half an hour and nothing appeared, getting file's meta is extremely slow or not even getting it at all
![picotorrentissues](https://user-images.githubusercontent.com/46273530/64066255-7dfa3180-cc41-11e9-866e-6accec84998f.png)

[2019-08-31 16:04] Alexdiff opened #699 "[Feature Request] Ability to randomly change listening port"
In QBitTorrent, there's an option to randomly change listening port every time the program restart, doing that sometimes speed up download time

[2019-08-31 16:10] Alexdiff commented on #698
It was really annoyed since you cannot decide which files to skip downloading to save storage and download time until you click OK

[2019-09-18 13:50] Rakleed commented on #495
@vktr, does your post relate to Fluent Design or a dark theme?

[2019-09-18 14:39] Rakleed opened #701 "Remove the sound when checking for updates"
Please remove the sound when checking for updates. So that only the “No update available” window appears, without sound.

Since the sound is only annoying. And in all other software there is no sound when checking for updates.

[2019-09-18 14:44] Rakleed opened #702 "Notification of the need to restart the application after changing the language"
Please add a notification about the need to restart the application after changing the language. Since now after changing the language in the preferences, the application language does not change and there is no notification that you need to restart the application, this complicates the understanding of this setting.

[2019-09-20 07:56] vktr commented on #495
@Rakleed It was aimed mostly at Fluent Design, since if we use the UWP components we'll need a hard dependency on Windows 10.

[2019-09-22 17:56] Rakleed commented on #495
@vktr, can I then create a dark theme feature request?

[2019-09-23 12:04] vktr commented on #495
Yes, sure! It might be doable with the Qt rewrite since we can style using CSS then.

Sent from my iPhone

[2019-09-23 12:12] Rakleed opened #703 "Dark Theme"
Please add a dark theme to the application. Because using your application at night or in dark rooms is very unpleasant because of the bright white background.

[2019-09-24 16:27] ArtexJay commented on #703
I've requested something similar before. He didn't seem really open to it that much

[2019-09-24 17:50] vktr commented on #703
@ArtexJay With the Qt rewrite I'm (slowly) finishing, CSS styling is a real possibility so I'm thinking we can add experimental dark theme support 😃

[2019-09-26 07:27] Rakleed commented on #703
@vktr, why don’t you assign a feature request label to this issue?

[2019-09-27 15:21] ArtexJay opened #704 "PicoTorrent Website"
The picotorrent website appears to be down.

Get error 502 when trying to visit it.

[2019-09-28 00:54] orangpelupa commented on #703
css support? whoa! can't wait for that update :D

[2019-09-28 00:54] orangpelupa commented on #704
can confirm, also down for me

[2019-09-29 19:09] vktr commented on #704
Thanks! It's been fixed.

[2019-09-29 19:09] #704 closed

[2019-10-09 03:31] ryahpalma opened #706 "Some translation errors in last release"
@vktr The last release of Pico 0.15 have some translation issues, I compiled the last code and it seems that the issues have been resolved, could make this fix available to the official page, making installers available to the community. A great example is the bottom bar showing only the function instead of the translation: i64d_torrents.

[2019-10-09 06:10] vktr commented on #706
Hi! Yeah, there's been a huge gap since the last release - I've been busy with life, work and other things. The good news is that a new release *is* coming - there's some exciting news regarding that as well.

One thing which have held back a release is that my code signing certificates have expired and they're hella expensive. I've been reluctant to make an unsigned release, but I think it's for

[2019-10-09 06:10] #706 closed

[2019-10-10 13:48] h5rdly opened #707 "keyboard shortcut"
First of all, cheers. Finally, an open source utorrent replacement.

It looks like double clicking on torrent file from a file manager doesn't sit well with PicoTorrent - I get a "Could not parse torrent file" error.

From inside Pico, I can't use Ctrl+O, or whatever applicalbe shortcut, to open the "Add Torrent" menu.

Would it possible to add a predefined keyboard shortcut for that feature?

Tha

[2019-10-10 19:43] vktr commented on #707
There's lot of new things in the upcoming v0.16, and I'll make sure keyboard shortcuts are included. The error when adding torrents shouldn't happen - would you mind sending me the torrent and I'll have a look? viktor@viktorelofsson.se

[2019-10-13 09:14] DarkBasic86 commented on #660
Version 0.15 still has this issue.
Its matches with the lang files of the outdated master branch and not the newer from the develop branch.

I'm not a developer, so I can't build on my own. (I don't have Visual Studio)
I tried to update the language resources with a programm called "Resource Hacker" but then the whole entry for e.g. German is missing in the drop-down menu.

Is there any other way

[2019-10-13 17:57] vktr commented on #660
@DarkBasic86 Until v0.16 is released, you can always try to use the beta which got released a few days ago - it contains multiple fixes for most of the issues here on Github.

https://ci.appveyor.com/project/picotorrent/picotorrent/builds/27999986/job/vac2okpw5bdd7j6o/artifacts

[2019-10-13 20:26] h5rdly commented on #707
Hey,

Sounds awesome!

It's seems to be occuring with torrents that have non English characters - basically any torrent from rutracker.org who's name is not fully in English

[2019-10-15 18:06] moritz1000 commented on #407
The same thing happens when you pause a torrent and use a VPN kill switch. When I start PicoTorrent again the paused torrent starts on it's own. It only keeps the pause status when I properly close PicoTorrent.

[2019-10-15 18:06] vktr commented on #407
What does the VPN kill switch do? Terminate the PicoTorrent process?

[2019-10-15 19:28] moritz1000 commented on #407
Yes

[2019-10-15 20:43] vktr commented on #702
I've added this to #672.

[2019-10-22 21:40] vktr commented on #677
Closing this since v0.16 has been released and this should be fixed.

[2019-10-22 21:40] #677 closed

[2019-10-22 21:41] vktr commented on #669
Donation button is now available again 😄

[2019-10-22 21:41] #669 closed

[2019-10-22 21:41] vktr commented on #665
Closing this since v0.16 has been released and this is added.

[2019-10-22 21:41] #665 closed

[2019-10-22 21:42] vktr commented on #619
Closing this since v0.16 has been released and this should be fixed.

[2019-10-22 21:42] #619 closed

[2019-10-22 21:42] vktr commented on #593
Closing this since v0.16 has been released and this should be fixed.

[2019-10-22 21:42] #593 closed

[2019-10-22 21:42] vktr commented on #592
Closing this since v0.16 has been released and this should be fixed.

[2019-10-22 21:42] #592 closed

[2019-10-22 21:43] vktr commented on #662
Closing this since v0.16 has been released and this should be fixed.

[2019-10-22 21:43] #662 closed

[2019-10-22 21:43] vktr commented on #650
Closing this since v0.16 has been released and this should be fixed.

[2019-10-22 21:43] #650 closed

[2019-10-23 00:04] massic80 opened #708 "VCRUNTIME140_1.dll is missing"
Hi,
I just received the update notification and i promptly moved here to download the latest (0.16) version.
The problem is that, once installed, when I attempt to run it, it says that `VCRUNTIME140_1.dll` is missing: I have different versions of Visual C++ installed, but none of them has the __1_ version of VCRUNTIME140.
How should I solve?

[2019-10-23 00:13] massic80 commented on #708
Solution:
I noticed in latest commits that you moved to Visual Studio 2019 for building.
I wondered whether installing the latest Visual C++ Redistributable from https://support.microsoft.com/it-it/help/2977003/the-latest-supported-visual-c-downloads (turns out it's 2015-2019) could solve the trouble, and looks like it did :)

[2019-10-23 00:14] massic80 commented on #708
I wonder whether also the link to VC++ 2017 for portable version in readme.md has to be updated...

[2019-10-23 10:35] nxrighthere commented on #707
I have the same issues with 0.16.0, [DEL] hotkey doesn't work anymore on torrents. Also, torrents with non-English characters cannot be added, and the application's window position always reset at startup.

[2019-10-23 10:38] vktr commented on #707
Keyboard shortcuts didn’t make it as I have a few ideas around that.

I haven’t had any trouble with non-English torrents when I tested. Can you email me the torrent and I’ll have a look? viktor@viktorelofsson.se

[2019-10-23 10:41] nxrighthere commented on #707
@vktr Torrent sent. 😉

[2019-10-23 15:40] keithlatheron opened #709 "Only first torrent active"
I have just upgraded from version 0.15 to 0.16.  The previous version was working fine (apart from the odd crash), but the latest version only downloads from the first torrent in the list, even though my settings specify 5 active torrents.

Furthermore, if it can't download from the first torrent, it doesn't then try activating the next one, and so on.  All but the top torrent remain "Queued" unti

[2019-10-23 15:58] vktr commented on #709
Sorry for the issues you’re having! I’ll have a look at both issues.

You might be able to force resume a torrent or move it up the queue to activate it in the meantime.

[2019-10-23 17:28] nonpcnpc commented on #708
yep, same issue.

[2019-10-23 17:41] massic80 commented on #708
@nonpcnpc I don't know whether it's the optimal solution, but I solved it ;)

[2019-10-23 19:24] Darth-Carrotpie commented on #708
Had the same error and this fixed it! Thanks! ;)

[2019-10-23 21:10] #708 closed

[2019-10-23 21:53] #709 closed

[2019-10-24 04:50] ozonesn opened #712 "Missing Files"
![Untitled](https://user-images.githubusercontent.com/9211383/67454472-ec5bde80-f649-11e9-897a-820273ccbef7.png)

[2019-10-24 05:38] vktr commented on #712
Hi! This was reported and fixed (but not released). You can try the installer from here and see if it solves the issue,

https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/w4c6sb7svp44nsxr/artifacts

[2019-10-24 07:36] Ilya87 commented on #660
![Снимок экрана (296)](https://user-images.githubusercontent.com/1446573/67463391-03023580-f64a-11e9-9536-30114cc2bd8f.png)
Russian language. Bug is still here.

[2019-10-24 07:45] vktr commented on #660
It is an error in the translation file. All %d and %s should be changed to %1, %2 etc. I’ll see if I can adjust the language files.

[2019-10-24 07:45] Ilya87 opened #713 "In que status"
In version 0.16 most of my torrents are in status "In que" instead of seeding. Is it a normal behavior? Because they only start to upload when I choose force seeding.

[2019-10-24 07:50] vktr commented on #713
Hi! It has been fixed but not released. You can try the build from AppVeyor and see if it solves the issue.

https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/w4c6sb7svp44nsxr/artifacts

[2019-10-24 10:11] canyon1991 opened #714 "Missing Icon on Taskbar"
Hi,

Since I upgraded to the new version 0.16.0 the Taskbar icon is gone. I am using Windows 10 and it is not pinned. I have also uninstalled it and installed it again as well as restarted Windows.

Could it be a bug or is just me?

![image](https://user-images.githubusercontent.com/56959429/67475501-3e066800-f64e-11e9-8103-f5c76a474aec.png)

Thank you

[2019-10-24 10:21] Ilya87 commented on #713
Yes, it is fixed now.

[2019-10-24 15:08] Ilya87 opened #715 "Drag 'n' Drop doesn't work"
In the latest version drag torrent from explorer and drop to the PicoTorrent's window doesn't work. It worked previously.

[2019-10-24 16:12] Ilya87 commented on #713
Now this behavior repeated - the torrent starts to download, after getting to 3% (about 1 minute) it returned to "queued" status. After force start it downloads normally.

[2019-10-24 17:56] #712 closed

[2019-10-24 18:40] erayrafet opened #717 "V0.16.0 hangs when a magnet link is being added on Windows 10 1909"
Heres's the link. I haven't tested it extensively with other links or torrent types though. The problem is reproducible after a reinstallation of the app as well as directly updating from v0.15.0.

magnet:?xt=urn:btih:a2ff92007692d768ed60ce18cd0adc1535e59d68&dn=Can.You.Keep.A.Secret.2019.1080p.WEB-DL.H264.AC3-EVO[TGx]&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.

[2019-10-24 19:50] vktr commented on #717
Thanks! I've fixed an issue related to this in #716 - it will be included in the next release. You can try the installer from the AppVeyor artifacts to see if it solved your problem as well,

https://ci.appveyor.com/project/picotorrent/picotorrent/builds/28359345/job/wy1uop0c8xixf7gs/artifacts

[2019-10-24 20:36] Rakleed opened #719 "During the upgrade, it was not proposed to close the open PicoTorrent client"
I was running version 0.15, I downloaded and started installing version 0.16, after installing the new version, a second PicoTorrent window opened with the new version. It is necessary to require the user to close the running PicoTorrent application or offer to close it automatically, but with the permission of the user.

[2019-10-24 20:48] vktr commented on #714
I've tried to reproduce this but I can't. Using a clean Windows 10 machine, I installed v0.15 and then upgraded to v0.16 - the taskbar icon was still present. I'll do some more investigation...

[2019-10-24 20:49] vktr commented on #715
Hi! Thanks for reporting!

[2019-10-24 20:51] vktr commented on #713
Odd - I can't seem to reproduce it. What is your settings for active downloads?

[2019-10-24 20:52] Rakleed opened #720 "Due to replacement of placeholder all translations are broken"
Due to replacing the placeholder, all translations are broken. You updated placeholders [for English only](https://github.com/picotorrent/picotorrent/commit/0b2237dbb824380581c4217e7c4f05e31aab9956#diff-c86d106827b3b3770e40c6af6bc88f6d), but all the rest are old placeholders. Because of this, you can see the following problems:

<details>
<summary>Screenshots</summary>

![2019-10-24_23-47-09](http

[2019-10-24 20:57] Ziffax opened #721 "Avg detect last update as "IDP.Generic" virus"
Even adding the .exe  as exception i can't install  it ( i deleted it after the update went wrong,file blocked)

No idea what to do, i'll try an early version.
[PicoTorrent_20191024225439.log](https://github.com/picotorrent/picotorrent/files/3769439/PicoTorrent_20191024225439.log)

Log attached

[2019-10-24 21:00] Rakleed opened #722 "Ability to limit download / upload speed for each torrent individually"
Please add the ability to limit the download / upload speed for each torrent individually.

[2019-10-24 21:03] vktr commented on #721
Hi! Thanks for the report - I'll check if I can reproduce this in a clean Windows 10 VM.

[2019-10-24 21:11] Ziffax commented on #721
Hey man, got the installation fixed after a quick restart, after that, when tryng to launch it, it says "VCRUNTIME140_1.dll" missing
Downloaded the .dll, placed in the directory, working (last update)
Probably an issue by my side, something blocking the installation but no idea, the anti virus seems "quiet" about it now

[2019-10-24 21:15] vktr commented on #721
@Ziffax That's a known issue and has been fixed but not released (yet - I'm working on that release now). You can try the installer from the AppVeyor build until then.

https://ci.appveyor.com/project/picotorrent/picotorrent/builds/28361302/job/kxdpm79bb8ibr4v9/artifacts

[2019-10-24 21:16] Ziffax commented on #721
NP all good now, thanks for your time, love your program.

[2019-10-24 21:17] #721 closed

[2019-10-24 21:27] #720 closed

[2019-10-24 21:57] erayrafet commented on #717
Still crashes.

[2019-10-24 22:06] Ilya87 commented on #660
Downloaded the latest commit's build c8c51afd47b08772601800d758b37ae841dc1f30 - in Tracker's tab the time of next announce is shown as 0h %2m %3s, Other localithation issues are fixed as I can see.

[2019-10-24 22:14] Ilya87 commented on #713
Maybe I was mistaken. If the bug won't appear in few days, I'll close the issue.

[2019-10-24 22:16] vktr commented on #717
I managed to reproduce it and also found a workaround - when you click add after pasting the magnet link and then select the torrent in the list view, it will crash the application. If you wait for the metadata to be fetched before selecting it, all will work OK.

[2019-10-24 23:02] #717 closed

[2019-10-24 23:58] vktr opened #725 "state_update_alert needs to respect metadata search"
https://github.com/picotorrent/picotorrent/blob/6bd15c5d763fe2196fb1a278f37b98fccb8dad5a/src/picotorrent/session.cpp#L574

[2019-10-25 06:11] TechnoGreg opened #726 "Bad hash value when installing Picotorrent 0.16.1"
Here is a log extract :
`[29E4:0844][2019-10-25T08:09:29]e000: Error 0x80091007: Hash mismatch for path: C:\ProgramData\Package Cache\.unverified\VC_redist.x64.exe, expected: 3B32BC4B8DEC32FD52A8F4BDA5648C3A8D999D7C, actual: 3155CB0F146B927FCC30647C1A904CD162548C8C`

[2019-10-25 07:06] Rakleed opened #727 "Translate the installer into other languages"
Please translate the installer into other languages as it is done in the application.

[2019-10-25 07:34] Rakleed opened #728 "When PicoTorrent is running and the .torrent file is opened from Explorer, nothing happens"
When PicoTorrent is running and the .torrent file is opened from Explorer, nothing happens. Although a window should open in PicoTorrent to add a torrent with information about it. I have selected by default that all torrent files should open in PicoTorrent. And if PicoTorrent is closed, then when you open the .torrent file, the window for adding a torrent opens.

[2019-10-25 08:54] canyon1991 commented on #714
After installing 0.16.1 the icon on the taskbar came back to normal.

[2019-10-25 16:13] TechnoGreg commented on #726
More infos : the release on Appveyor is clean

[2019-10-25 19:17] Eldaw opened #729 "VC_redist.x64.exe restarted PC without warning when installing v0.16.1"
When installing v0.16.1 over v0.16.0, my computer restarted automatically during the installation. I was not asked whether it was OK to restart, and I was given no warning whatsoever. I had no chance to close any documents or any other running applications.

Looking in Event Viewer, I see that the culprit is VC_redist.x64.exe that initiated the automatic restart of my PC.

[code]

Please fix this,

[2019-10-25 19:19] vktr commented on #726
I can't reproduce this in a clean Windows 10 install. I found another bug in VC redist version detection though, so thanks for making me look 😄 Can you try again?

[2019-10-25 19:19] vktr opened #730 "Remove `Result="exists"` to get package version"
https://github.com/picotorrent/picotorrent/blob/1b6ca0826c899f80f27a55d89af6a0935f143a38/packaging/WiX/PicoTorrentBundle.wxs#L44

[2019-10-25 19:23] vktr commented on #729
Hi! Sorry about that - I thought the VC redist installer would prompt before any restart. I'll add the `/norestart` flag and see if that would solve the issue - hard to test though.

[2019-10-25 19:44] #725 closed

[2019-10-25 19:52] #729 closed

[2019-10-25 19:53] #730 closed

[2019-10-25 19:54] vktr commented on #649
Not applicable.

[2019-10-25 19:54] #649 closed

[2019-10-25 20:10] Ilya87 opened #734 "Memory overflow"
I have 24 torernts (about 200-250 Gb Total) in PicoTorrent, Windows 10 x64, after about 12 hours of seeding Windows Task Manager shows that 76% of my RAM is used ( I have 16 Gb RAM), after I closed PicoTorrent Task Manager shows memory consumption dropped to 17%.
Also System Resources Monitor shows 24-33/sec physical memory pages errors
![Снимок экрана (328)](https://user-images.githubusercontent.

[2019-10-25 20:14] #715 closed

[2019-10-25 20:49] TechnoGreg commented on #726
I download again the website version, and it installs correctly. I haven't changed anything but tried the appveyor artifact.

[2019-10-25 20:49] #726 closed

[2019-10-25 21:06] #707 closed

[2019-10-25 21:38] #719 closed

[2019-10-25 21:54] vktr commented on #728
I can't seem to reproduce this - I've tried to provoke the error both when PicoTorrent is running and when it is not, as well as with UTF16 file names. The add torrent dialog shows as expected in all cases.

[2019-10-25 21:55] vktr commented on #714
Awesome! 😄

[2019-10-25 21:55] #714 closed

[2019-10-25 23:32] #713 closed

[2019-10-25 23:36] Ilya87 opened #738 "Can't expand folder tree in Files tab"
I have torrent with folder (for example) 1, which contains folder 2. When I expand folder 1 in Files tab, after half of a second folder tree collapses back.

[2019-10-26 09:19] Rakleed commented on #728
@vktr I was now able to reproduce the problem on another device. And apparently this is due to the fact that I was updating from version 0.15 (and I updated to all versions in a row - 0.16, 0.16.1 and 0.17). Because now I tried to uninstall the application and reinstall it, and there is no more problem.

[2019-10-26 09:23] Rakleed opened #739 "When you uninstall the application, the open PicoTorrent window does not automatically close"
When you uninstall the application, the open PicoTorrent window does not automatically close. I uninstalled the application, but I can still use it.

[2019-10-26 12:42] rockernaap opened #740 "Delete button no longer removed the torrent"
The delete button (on your keyboard, AKA del) no longer removed the torrent from the list.

[2019-10-26 12:46] rockernaap opened #741 "Shift or ctrl selecting multiple torrents no longer works"
Shift or ctrl selecting multiple torrents no longer works

[2019-10-26 15:16] Rakleed commented on #740
@rockernaap Do you have version [0.17.0](https://github.com/picotorrent/picotorrent/releases/tag/v0.17.0) installed? Because in this version the Del hotkey was just added to delete torrents, and it works for me.

[2019-10-26 16:11] rockernaap commented on #740
It looks like I was on an older version. In 0.17.0 it is indeed fixed.

[2019-10-26 16:11] #740 closed

[2019-10-27 15:55] Ilya87 commented on #738
One more - I cant't now download arbitrary folder from torrent - after set priority for 1 folder, downloaded it, priority to another folder can't be set.

[2019-10-27 21:19] #738 closed

[2019-10-27 22:00] #739 closed

[2019-10-28 15:29] moritz1000 commented on #728
I had the same issue (but updated from 0.16). I uninstalled Picotorrent and reinstalled it but it did not fix the issue. I downloaded http://defaultprogramseditor.com/ and manually deleted the .torrent file association with Picotorrent since I could only change it to a different program and not delete it in Windows. Now everything works again.

[2019-10-28 15:44] moritz1000 commented on #728
I have the same issue. I uninstalled Picotorrent and reinstalled it but it did not fix the issue. I tried to fix it manually with http://defaultprogramseditor.com/ and deleting the .torrent file association with Picotorrent but that also did not work.

Maybe it has something to do with the encrypt_config_file setting from version PicoTorrent-0.15.0 which is not available in PicoTorrent-0.17.0 anym

[2019-10-29 10:03] Ilya87 commented on #734
![Снимок экрана (341)](https://user-images.githubusercontent.com/1446573/67757251-7b9f3280-fa4c-11e9-9b2c-13d2b7de0442.png)

[2019-10-29 18:09] vktr commented on #734
Hi! Thanks for the report. I'll check!

[2019-10-29 21:43] TechnoGreg commented on #185
I think this is a great  option to come :)

[2019-10-30 21:13] polychromik commented on #741
It's too bad, but I'm confident a solution will come soon ! ;-)

Thanks for this little pearl (I mean PicoTorrent) !

[2019-11-01 17:49] kraskoo opened #747 "Taskbar icon missing title"
It would be nice, if you have a little title text, when client is down on taskbar and mouse is over the icon. My suggestion is to be percentage of progress of last selected torrent. This will be great.

[2019-11-02 17:28] ghost opened #748 "Cannot set priority"
With the new version(I currently have the latest 0.17) I can no longer set priority to individual files when downloading + I can not set priority at all. So the latter probably causes the former.

[2019-11-03 12:03] nonpcnpc commented on #748
When I am adding new torrent, I can set the priority and when I have some "do not download" files I can then change their priority - once. To me, it looks like there is some kind of UI re-render when I click on the file and get the context menu and the file loses focus - that is why the priority won't be set.

[2019-11-03 12:07] nonpcnpc commented on #748
Ah, I got it. So the UI is re-rendered every second when the torrent is active. Once it is paused or simply not-stared(completed...) the re-rendering is turned of and I can set priority to the files. That is why I was able to set priority for "do not download" files, because the torrent was already finished, so it has nothing to do with the set priority but with the torrent being active or not.

[2019-11-03 19:04] vktr commented on #748
Hey! Thanks for the detailed investigation! I'll have a look and see if I can reproduce it.

[2019-11-03 19:27] vktr commented on #748
I can't reproduce this - all my attempts at re-prioritizing files were successful. Can you record a GIF (or similar) showing the issues you're having?

[2019-11-03 19:45] vktr commented on #474
There's now a filter function available in 0.17

[2019-11-03 19:45] #474 closed

[2019-11-04 16:28] nonpcnpc commented on #748
click on any active torrent, down below select the "files" tab. then click on any of the files. it will get highlighted. wait a second, the file should no longer be highlighted.

[2019-11-04 18:53] vktr commented on #748
Is this in 0.17? I can't reproduce this on my end. Which Windows version are you running?

[2019-11-04 18:54] #741 closed

[2019-11-04 18:57] vktr commented on #698
This should be well fixed in 0.17.

[2019-11-04 18:57] #698 closed

[2019-11-04 19:23] nonpcnpc commented on #748
win10x64 pro

[2019-11-04 19:59] Anon0ne commented on #666
I have the same problem. It's not on every file I save to network drive, just one of them out of multiple.

[2019-11-06 15:33] kokoleo007 opened #751 "007"
http://bo2.khelojeetogames.com/

[2019-11-06 15:36] Computech123-Kirby opened #752 "HCSC Employees time cards Missing for Oct'19"
Hi Team,

We didn't see the employees time cards in Fieldglass for Oct'19 for Payment. Can you please Help us on this.

Please find attached the missing hours statement.

Thank you,

Bala Suthari
Computech Corporation
100 W Kirby St. Detroit, MI 48202
p +313-202-0929 X 57004 f + 313-281-2211
bala.suthari@computechcorp.com
[Email Hours statement  for all clients (3).xlsx](https://github.com/picotor

[2019-11-06 15:54] vktr commented on #752
Hey! Below is actual footage of me looking through my TPS reports to find your missing hours. Thanks.

![](https://thumbs.gfycat.com/ThirstyPotableLadybug-size_restricted.gif)

[2019-11-06 20:04] #751 closed

[2019-11-06 20:04] #752 closed

[2019-11-07 09:56] Rakleed commented on #728
At the moment, on the computer, I again had this problem.

[2019-11-07 11:06] dawidgorczyca opened #754 "Select many on the list crashes the application"
When I'm trying to select many torrents on the list, using keyboard arrows and shift Pico crashes every time.
Windows 10, PicoTorrent 0.17.0

[2019-11-07 11:40] Ilya87 commented on #754
https://ci.appveyor.com/project/picotorrent/picotorrent/builds/28606172
Try to download build for your CPU architecture (x86 or x64) - choose artifacts tab.

[2019-11-08 15:26] nonpcnpc commented on #748
I have observed another side effect of that re-rendering bug. When the torrent has directories and I expand one, after a second/nex tick when the window is re-rendered, the directory collapses back.

[2019-11-08 20:23] vktr commented on #748
Can you try the latest build on AppVeyor? https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/wc0up4ciiaf5ua3l/artifacts

[2019-11-09 09:11] Rakleed opened #755 "The irrelevant version number of PicoTorrent is displayed on the download page"
The irrelevant version number of PicoTorrent is displayed on the [download page](https://picotorrent.org/download/). Now 0.15.0 is displayed, although the current version is 0.17.0.

<details>
<summary>Screenshot</summary>

![screenshot-picotorrent org-2019 11 09-12_10_32](https://user-images.githubusercontent.com/19418601/68526156-f9372e00-02e9-11ea-8138-9e6059044452.png)

</details>

[2019-11-09 09:52] Rakleed opened #756 "Serial loading of file parts"
I would like to have not only sequential download of files, but also sequential download of parts of one file. This would be useful when downloading a video file so that I can start watching a few minutes after the start of the download. In order not to have to wait for the file to download completely.

[2019-11-09 09:59] Rakleed opened #757 "Download and install updates automatically"
It would be nice if the application to download the update file itself (after asking the user for permission) and automatically install it. That is, when updating the application it was not necessary to download the installer every time and manually install it.

[2019-11-09 10:16] nonpcnpc commented on #748
sure, just give me link to compiled binary

[2019-11-09 10:24] vktr commented on #748
https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/oq92fkr73ojxsrhh/artifacts

[2019-11-09 15:39] nonpcnpc commented on #748
both issues are fixed in that one.

[2019-11-09 17:55] vktr commented on #748
It's the same code in both so I guess it's resolved 😃 I'm setting this up to be closed when 0.17 is released.

[2019-11-10 19:21] wintercounter commented on #748
For mer it's the same with 0.17. Simply the file selection being lost on every second.

[2019-11-10 19:23] vktr commented on #748
@wintercounter Do you have the same issue even in the latest build linked above?

[2019-11-11 07:44] hl24a3 opened #758 "Magnet links are crashing it AND can't expand fie tree"
0.17 and 0.16 has the same issue for me, magnet links are crashing it, so I have to always download a file and drag and drop it

when torrent is running or even paused it won't allow to expand the file tree to disable some files from downloading

[2019-11-11 08:44] vktr commented on #758
Hi! The file tree issue is fixed in the latest builds, here https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/oq92fkr73ojxsrhh/artifacts

Is it all magnet links which causes a crash or specific ones?

[2019-11-11 09:05] hl24a3 commented on #758
All of them were crashing, I'm back on 0.15 now.

But also I couldn't select multiple torrents anymore, only one by one I could right click on them and do whatever action.

Back on 0.15 I can do everything now.

[2019-11-11 09:15] vktr commented on #758
I see - the multi-selection has been fixed in the latest builds as well.

[2019-11-11 09:42] hl24a3 commented on #758
right, I'll give it a go later and see if this latest build is working fine, will let you know

[2019-11-12 03:04] sumdumgui opened #759 "Font/Window size"
The app probably is easily viewed on a monitor that is close to the viewer. I myself do not have a traditional monitor, instead my PC is connected to a 55 inch plasma television. The ability to increase font size or scale the window would improve the usability of this app.

[2019-11-21 19:35] MillenniumAlpha opened #760 "Language Issues"
When I opened PicoTorrent instead of it being in English for some reason the language changed to Catalan, any ideas on how to fix it.
There's probably a button to change it but I don't understand Catalan at all.
![PicoTorrent_gxVy0J1Ya1](https://user-images.githubusercontent.com/44296791/69370568-1844a100-0c96-11ea-9d24-98a34308b7d1.png)

[2019-11-24 14:15] canyon1991 commented on #758
I am having issues too with magnet links. It crashes when is "loading" the magnet link. I need to restart and then the magnet link works, if I wait a few second and add a second magnet link it crashes again and loses the "memory" so i need to start the downloads again.

[2019-11-27 21:42] armpogart commented on #734
Same issue on the latest version (0.17.0). I have a feeling that PicoTorrent downloads the file to some sort of ramdisk, as as soon as I close the Pico, something is writing to HDD (haven't checked what process does it exactly) and the ram memory is being freed in parallel.

[2019-11-27 21:47] armpogart commented on #734
I can also force the HDD writing by simply pausing the download, as soon as I do pause, the RAM is being freed and in Task Manager I see `System` process writing to HDD on max speed for some time.

[2019-11-29 08:01] Rakleed commented on #760
@MillenniumAlpha, to change the language to English, you should click on the top Veure - Preferències - General - Idioma - English (United States) and restart the app.

[2019-11-29 08:37] kaecy opened #761 "What's with the icon?"
![pico torrent](https://user-images.githubusercontent.com/4354982/69854905-36a43100-1282-11ea-8152-0f2d9cab1246.PNG)
1 and 3 are when installed
2 is the one I added to %appdata%\Microsoft\Windows\Start Menu\Programs
I have v0.15.0. I don't think using new version make any difference.

[2019-11-29 08:56] vktr commented on #761
That looks odd - that's not an icon we bundle in the installer so I'm unsure where it comes from. Could you see where the shortcut points?

[2019-11-29 08:58] vktr commented on #760
Hi @MillenniumAlpha, sorry for the late reply! Yeah, as @Rakleed mentioned, that's how you change the language. When I looked into this now I found a bug in how we use locales and languages when setting default language.

[2019-11-29 09:00] vktr commented on #734
I think libtorrent queues the disk operations in a separate write thread which could give the impression of the downloads filling up memory. I'll see if I can tune the libtorrent settings somehow.

[2019-11-29 09:02] kaecy commented on #761
The program it points to is picotorrent. There is nothing wrong there. The icon that is showing is in 1 and 3 is qimgv's, an image viewer: https://github.com/easymodo/qimgv

[2019-11-29 22:50] Ilya87 commented on #734
Check please if this bug can appear when seeding, not downloading torrents.

[2019-12-02 01:18] Tall-Lobster opened #762 "Picotorrent can't remember download progress after restart"
Dear Picotorrent Developer,

I am facing an issue where picotorrent after restarting the computer and having run at startup where it forgots how far the download has gone through and ends up with 0% progress.

let me know if you already fixed this issue or not.

[2019-12-02 01:20] Tall-Lobster opened #763 "Picotorrent: Can't select which files to download, I have to install the entire torrent."
Dear Picotorrent Developer,

It would be great if you can add this feature as it would help with not downloading large torrents such as ones like the 56 GB ones and instead just downloading the 2 1MB files from a torrent file for example.

Thanks,

[2019-12-02 01:24] Tall-Lobster commented on #728
I am also facing the same issue, my solution is i drag the file from firefox download directly to picotorrent. But yes 25 days from @Rakleed's last comment and I am facing this issue.

[2019-12-02 14:51] Rakleed commented on #762
@Tall-Lobster you created a duplicate, because this problem is discussed in https://github.com/picotorrent/picotorrent/issues/407.

[2019-12-02 15:20] Rakleed commented on #763
@Tall-Lobster when you open a .torrent file or magnet link in the “Add torrent (s)” window, you can cancel the download of some files if you do not need them. To do this, right-click on the file or folder, select Priority, then Do not download.

When the download has already begun, you can also choose which files to download and which not. To do this, you need to select the desired torrent, click

[2019-12-03 20:25] MillenniumAlpha commented on #760
Thanks for the help!

[2019-12-03 22:45] Theking1313 opened #764 "Pico torrent does not remember torrents that are not downloaded on restart/crash."
Whenever I add a bunch of torrent links that have not started downloading or a queued for download, they all disappear after a restart or crash. The torrent has to have add some percentage download for the Pico torrent to save the torrent files when you reopen the program. I've also on occasion had torrents that were downloading disappear from the torrent list. I'll also note that I use magnet lin

[2019-12-04 06:23] VideoPlayerCode commented on #763
Maybe this should be moved to a separate right click menu item. Right now it is opening a menu with a single item named Priority. That submenu contains low/normal/max/do not download.

How about having "do not download" as a separate checkmark menu item outside of the Priority menu?

Although I do see the benefits of the current system since it allows the Priority column to display "do not downloa

[2019-12-04 06:35] VideoPlayerCode commented on #678
+1

[2019-12-04 06:42] VideoPlayerCode commented on #699
Well, I won't say the feature is bad. But, if you always change port, your known node on the DHT network will always be changing. This in turn means two things if you change port constantly:

1. Magnet (aka DHT) downloads will be extremely slow and will have trouble finding Metadata and peers.
2. Your router will get DDOSed by thousands of DHT nodes attempting to connect to your old, closed port.

[2019-12-04 06:56] VideoPlayerCode commented on #748
@vktr Same here. I have v0.17.0 installed from https://chocolatey.org/packages/picotorrent#versionhistory (which says "Saturday, October 26, 2019")

During downloads, the file list refreshes itself every second. This refreshing clears all selections, even when the menu has already been opened (ie. via right-clicking a single file). So you literally cannot change priority at all, because by the tim

[2019-12-04 07:21] VideoPlayerCode opened #765 "Filter by file name, filter by torrent name"
Related:
- https://github.com/picotorrent/picotorrent/issues/644
- https://github.com/picotorrent/picotorrent/issues/474

I am using the [latest build, 876](https://ci.appveyor.com/project/picotorrent/picotorrent/builds/28725827).

So, I see that you've added the ability to filter the main torrent list via scripts and that you have implemented "show downloading" and "show uploading", which is a ni

[2019-12-04 07:25] VideoPlayerCode opened #766 ""Next announce" time format string is bugged."
Latest build (876 from appveyor).

The GUI's "Trackers" tab permanently says `Next announce: 0h %2m %3s`. Looks like a broken format string. It also has some strange, massive padding on the left side of the string, which varies depending on which torrent I look at.

[2019-12-04 07:26] VideoPlayerCode commented on #764
I am not seeing this issue at all. I'm not saying it can't happen, but it doesn't happen to me. :S

[2019-12-04 07:32] VideoPlayerCode commented on #452
@vktr I think you can close this ticket. :-)

[2019-12-04 07:35] Bananaman opened #767 "Per-tracker Seeds and Peers count"
The Trackers tab shows `Url`, `Status` (ok), `Fails`, and `Next announce`.

Really wish it showed `Seeds` and `Peers` per-tracker columns too, which aids when troubleshooting whether trackers are failing to give you any peers or not.

[2019-12-04 07:37] Bananaman opened #768 "Show DHT peers and seeds in Trackers tab"
This image of an alternate (bloated) client based on the same `libtorrent` shows what I mean:

https://user-images.githubusercontent.com/36555563/36336879-30bd320c-13c7-11e8-9636-6f917bba336a.jpg

The Trackers tab shows DHT peers/seed counts and status in that client, which is helpful when diagnosing issues.

Related ticket: #767

[2019-12-04 07:42] VideoPlayerCode opened #769 "Silly "moving average of speed" when torrent is completely stopped"
Hehe, alright, so when you pause (or fully download) a torrent, the PicoTorrent GUI continues its gradual descent in its moving average calculation. So a 100% complete torrent with 0 bytes/second download would look something like this:

[code]

etc... You get the point. It looks silly.

Pretty sure most other applications solve it by just saying: "On event: Downloaded 100% of selected files, and

[2019-12-04 07:51] VideoPlayerCode opened #770 "Clicking # or Size column in certain bugged torrent list rows makes PicoTorrent lose focus"
I'm using built 876 from AppVeyor.

This was tested with all columns. The only columns with this bug are:

- `#`
- `Size`
- `Name` (partially; about half of that column, in the area closest to the `#` columns).

To reproduce, do the following:

1. Select the first torrent in your list.
2. Click the `#` or `Size` column value (ie the `8.94 GB` text) of any other torrent in the list.
3. PicoTorrent

[2019-12-04 08:05] #770 closed

[2019-12-04 08:10] VideoPlayerCode opened #771 "Add Yes/No confirmation to "Remove torrent and files""
Very scary! I looked at the commit: https://github.com/picotorrent/picotorrent/pull/583/commits/f191dc264db67b201fba064ee97d4ea42ac7ee33

There is no confirmation! So if I slip and hit "Delete torrent and files" by accident, it's bye-bye all files on disk. Yikes. I've never seen a torrent client that lacks a "Are you sure you want to delete XYZ and remove all files?" confirmation box.

Windows nat

[2019-12-04 08:43] VideoPlayerCode commented on #771
Come to think of it: Even though it's far less dangerous, the "Delete torrent" and Delete-key shortcut are dangerous too and would benefit from confirmation. It's one extra "yes"-click/enter-press to confirm for someone who really wants to delete, but it saves tons of frustration for someone who _didn't_ want to delete!

[2019-12-04 08:55] Bananaman opened #772 "Adding useful details to Overview tab"
The Overview tab is a bit too bare-bones even for a "simplified client". These fields would be useful, and I think most are built into libtorrent already:

- **Comment**: This field is often used by tracker torrents for stuff like the web-link to the page that the torrent came from, for easily visiting the torrent page. (But to be useful, links in the comment need to be either clickable (most torr

[2019-12-04 09:35] nonpcnpc commented on #748
What is the ETA of next release?

[2019-12-04 21:42] VideoPlayerCode commented on #758
@hl24a3 Any news of testing the latest build?

[2019-12-04 21:44] VideoPlayerCode commented on #755
Oh hehe @vktr this one is an easy fix. :D

[2019-12-05 19:08] hl24a3 commented on #758
No I actually stayed on the old v0.15, it works well, I'll try it maybe when it officially gets released

[2019-12-10 03:07] VideoPlayerCode commented on #764
I see the issue now. I went and grabbed an unpopular "magnet link" torrent. It was on "downloading metadata" when I exited PicoTorrent. Then when I started pico again, the torrent was forgotten by PicoTorrent.

[2019-12-11 09:32] vktr commented on #728
Hey guys! I'll take a look at this.

[2019-12-11 09:33] vktr commented on #762
@Tall-Lobster Are you exiting PicoTorrent before restarting the computer? Or do you let Windows quit PicoTorrent?

[2019-12-11 09:35] vktr commented on #678
You can multi-select files in the list and set all of them to *Do not download* in one go, or you can select a folder (in case of a multi file torrent) and set the folder to *Do not download*. This will also set the files in that folder to *Do not download*.

[2019-12-11 09:36] vktr commented on #763
It might make sense to move *do not download* to a checkbox in the item list. I'll have a look at this.

[2019-12-11 09:40] vktr commented on #765
Hi! Thanks for the kind words. As you've discovered, the scripting thing is just beginning to take shape, and the idea is to allow some kind of free filter based on the scripting engine. There are some ideas I want to present somehow, I'll let you know.

[2019-12-11 09:41] vktr commented on #766
Thanks for the report - can confirm!

[2019-12-11 09:43] vktr commented on #764
Thanks for the report. I'll see if I can fix this for the next release.

[2019-12-11 13:28] VideoPlayerCode commented on #765
Ah that is very smart. So some kinda text box that will be hooked to the filter engine behind the scenes, and allow real-time filtering? That sounds great. Heck in the future you could even become an insanely cool torrrnt client with features like `Ubuntu ext:iso size:>650mb` in the filter textbox. ;)

[2019-12-11 13:32] vktr commented on #765
Sure, that is the plan. The filter engine builds on JS so the idea is to be able to write JS filters :)

Sent from my iPhone

[2019-12-12 04:47] VideoPlayerCode commented on #765
@vktr Clever! If you need a tiny, embeddable Javascript engine, QuickJS is a very good choice. It seems to be the winner of all micro engines. For people who don't want to embed Google V8.

https://bellard.org/quickjs/bench.html

[2019-12-15 09:03] MoltenMuffins commented on #761
For me the icon becomes that of adobe photoshop's

[2019-12-19 16:04] Rakleed commented on #756
@vktr please take a look at this issue and add the desired label.

[2019-12-19 16:04] Rakleed commented on #757
@vktr please take a look at this issue and add the desired label.

[2019-12-19 16:04] Rakleed commented on #755
@vktr please take a look at this issue and add the desired label.

[2019-12-19 16:48] Rakleed opened #773 "The folder progress is always `-99`"
The folder progress is always `-99`. Please fix this problem.

<details>
<summary>Screenshots</summary>

![2019-12-19_19-29-43](https://user-images.githubusercontent.com/19418601/71191910-5c789080-2298-11ea-8116-e8c1e53a4b40.png)

![2019-12-19_19-36-36](https://user-images.githubusercontent.com/19418601/71191914-5edaea80-2298-11ea-82df-9eb0730c4562.png)

![2019-12-19_19-45-06](https://user-images.

[2019-12-19 16:55] Rakleed opened #774 "Import and export settings"
Please add the ability to import and export settings. This would be useful when reinstalling the application.

[2019-12-19 18:37] vktr commented on #774
IIRC we don't remove the AppData folder when uninstalling so the settings should persist. If you want to backup your settings, just make a copy of the `%APPDATA%\PicoTorrent` folder.

[2019-12-19 18:39] vktr commented on #773
This is fixed in 26fe4a1890040292556fa644e1edd1ff26dd4540. The latest builds on AppVeyor contains this fix.

[2019-12-19 18:39] #773 closed

[2019-12-19 19:16] Rakleed commented on #773
@vktr can you please give a link?

[2019-12-19 19:18] Rakleed commented on #774
@vktr but it would be much more convenient if it were possible to backup in the application interface.

[2019-12-19 19:20] Rakleed commented on #755
@vktr why is it a feature request, if it is actually a bug report?

[2019-12-20 14:24] nonpcnpc commented on #764
yes, this is "old" issue. if you have no metadata before closing pt, you will lose the queued torrents. to prevent this, when the add dialogue popts up, wait for pt to fetch the metadata(it will shot list of files the torrent has) before clicking "ok".

[2019-12-20 14:25] nonpcnpc commented on #748
🤔

[2019-12-20 15:42] Rakleed opened #775 "In other localizations, instead of valid names, variable names are displayed"
In localizations, instead of valid names, variable names are displayed. This confuses the user and complicates the use of the program.

For example, in Russian localization:
<details>
<summary>Screenshots</summary>

![picotorrent-translation-1](https://user-images.githubusercontent.com/19418601/71265529-6dd4a200-2357-11ea-8815-14419308a811.png)
![picotorrent-translation-2](https://user-images.gith

[2019-12-20 17:17] Rakleed opened #776 "Enable/disable sequential download after the torrent download starts"
I would like that after the start of downloading the torrent there was an opportunity to disable/enable the sequential download of the torrent.

[2019-12-20 17:26] Rakleed opened #777 "Ability to stop file uploading after reaching a certain rating"
I would like to be able to stop the file uploading after reaching a certain rating (for example, 100% or 200%).

[2019-12-20 19:08] Rakleed opened #778 "Drag and select multiple torrents with the mouse"
Please add the ability to select multiple torrents by dragging and selecting with the mouse. Since it is now possible to select only using the keys on the keyboard Ctrl or Shift.

This is what I am talking about:
<details>
<summary>GIF</summary>

![drag-and-select](https://user-images.githubusercontent.com/19418601/71284893-e007af80-2374-11ea-9039-6a4b4caaafa3.gif)

</details>

[2019-12-20 21:31] Rakleed opened #779 "List of languages in alphabetical order"
Please make a list of languages in the settings in alphabetical order to make it easier for users to find the desired language.

[2019-12-20 21:36] Rakleed opened #780 "“Restart app” button in a pop-up window requesting a restart"
Please add the button “Restart application” and “Later” in the pop-up window asking to restart, instead of the current “OK”. In order not to have to manually shut down the application and run it again.

[2019-12-21 16:16] nolddor commented on #775
English should be the fallback language in case the new introduced variables cannot be found on other localizations.

[2019-12-21 20:24] Rakleed opened #782 "After the download is complete, the download speed is still displayed for about 60 seconds"
After the download is completed, the download speed is still displayed for about 60 seconds, although the file has already been fully downloaded, and there can be no download speed. Please fix this problem.
<details>
<summary>Video</summary>

[screencast-mapeditor.yandex.com-2019.12.21-13_38_06.zip](https://github.com/picotorrent/picotorrent/files/3991793/screencast-mapeditor.yandex.com-2019.12.21

[2019-12-21 22:23] Darth-Carrotpie commented on #728
Same issue, but with chrome. Trying to launch a downlaoded torrent file from explorer then also wont launch / hook to pico

[2019-12-21 22:26] Darth-Carrotpie commented on #407
Same issue. Also when checking, PC proceeds to horribly lag, due to all of the RAM (16Gig)/cpu being eatin by Pico

[2019-12-22 02:07] VideoPlayerCode commented on #782
Duplicate of #769

[2019-12-22 02:08] Bananaman opened #783 "Bug when typing invalid disk paths"
Try saving a torrent to `D:y\Downloads` which was my typo. It made picotorrent crash. And after restart, it showed "invalid disk path" as the torrent status. The path as seen inside PicoTorrent after that mistake ended up as `<the path to Google Chrome here>\D:y\Downloads` which is of course nonsense.

[2019-12-22 12:51] vktr commented on #774
Sure - I'll add it as a feature request.

[2019-12-22 12:52] Rakleed opened #784 "There are no variables in the localization file for DL/UL speed and remaining time"
There are no variables in the [localization file](https://github.com/picotorrent/picotorrent/blob/master/lang/1033.json) for DL/UL speed and the remaining time (hour, minute, second, etc.).
<details>
<summary>Screenshots</summary>

![2019-12-22_15-25-05 (2)](https://user-images.githubusercontent.com/19418601/71321960-76051c80-24d2-11ea-92e5-a9ad89690dc1.png)
![2019-12-22_15-43-13](https://user-ima

[2019-12-22 12:54] vktr commented on #775
Hi! When a language is missing a translation key, the key is shown instead. This is by design to make it easier for anyone working on translations to know what key they need to add a translation for. Therefore, I'm probably not going to add English as the default fallback.

However - I'm working on a web tool to make it easier to manage translations.

[2019-12-22 12:57] vktr commented on #777
This has been up for discussion before in #383 and #227. So far I haven't added anything related to ratio management but as before I'm still trying to work out a way for this to be added without being disruptive to swarms (i.e leeching).

If you have any ideas, I'm all ears 😃

[2019-12-22 13:00] vktr commented on #778
I'll see if this could be added easy enough, but I'm not sure. The torrent list will select the items on mouse down (as it should) and I don't think a selection rectangle would work well in that kind of list (report style). The Control and Shift modifiers when clicking are standard Windows modifiers for doing exactly what you're describing.

[2019-12-22 13:01] vktr commented on #782
This will be fixed when #750 gets merged.

[2019-12-22 13:04] vktr commented on #784
Hi! We use `StrFormatByteSize64` from the Win32 API's to format the file size (and by extension the speeds). For download/upload rates we just add the `/s` suffix, which is what we can localize. I'll add a feature request for this.

[2019-12-22 13:04] vktr commented on #773
Sure - here's the x64 artifacts: https://ci.appveyor.com/project/picotorrent/picotorrent/builds/29476734/job/ycctoaj1be2x5qgk/artifacts

[2019-12-22 13:07] vktr commented on #748
It should be out after the holidays - I'm aiming towards a mid-january release.

[2019-12-22 13:10] Rakleed commented on #782
@vktr and if I downloaded from [here](https://ci.appveyor.com/project/picotorrent/picotorrent/builds/29476734/job/ycctoaj1be2x5qgk/artifacts), is [this PR](https://github.com/picotorrent/picotorrent/pull/750) not included in this build?

[2019-12-22 13:11] vktr commented on #782
@Rakleed That link points to the latest AppVeyor build for that PR, so everything in that PR is included in there.

[2019-12-22 13:15] vktr commented on #783
Thanks for reporting - I'll have a look.

[2019-12-22 13:15] Rakleed commented on #782
I installed the [latest build from AppVeyor](https://ci.appveyor.com/project/picotorrent/picotorrent/builds/29476734/job/ycctoaj1be2x5qgk/artifacts), and I'm still observing the problem that I described above.

[2019-12-22 13:16] Rakleed commented on #782
@vktr I installed the latest build from AppVeyor, and I'm still observing the problem that I described above.

[2019-12-22 13:17] #766 closed

[2019-12-22 13:17] #769 closed

[2019-12-22 13:19] vktr commented on #782
@Rakleed Yeah, I jumped the gun a bit, we only display the `-` for paused torrents, but it should be for download rate when a torrent as a progress of 100% as well. My bad. I'll make sure to fix this.

[2019-12-22 14:05] Rakleed commented on #778
@vktr I don’t know why I didn’t notice earlier that the function described by me is present. It’s just that when selecting, a translucent selection rectangle does not appear.

Then you can close my issue if it is difficult to implement a translucent selection rectangle (yes, I myself do not see this as a special need).

[2019-12-22 14:30] Rakleed commented on #775
@vktr are you doing something like Crowdin?

[2019-12-22 17:11] Rakleed opened #786 "Change User agent from `PicoTorrent/x.y.z` to `PicoTorrent x.y.z`"
Why are you using a slash between the name of the application and its version in the User agent? It seems to me that it is worth using a space in this case.

[2019-12-22 18:46] vktr commented on #786
Do you have any evidence to support your claim that it is worth switching? Quoting the libtorrent documentation,

So if anything we should add `libtorrent/libtorrent-version` to our user agent as well.

A quick look at the qBittorrent sources (which also uses libtorrent) will also reaffirm that we are currently using the correct format for our user agent.

https://github.com/qbittorrent/qBittorren

[2019-12-22 21:20] vktr commented on #764
Will be fixed in #787

[2019-12-23 19:42] spoonpaw commented on #748
i'm having the same issue, windows 10, v0.17.0

[2019-12-24 10:18] Rakleed commented on #748
@spoonpaw You should install the latest build from AppVeyor https://ci.appveyor.com/project/picotorrent/picotorrent/builds/29710681/job/3j5o7hiwdiqvm83i/artifacts, because it solved the problem. And the developer plans the next release of the application in mid-January, if there are no problems.

[2019-12-24 20:14] spoonpaw commented on #748
@Rakleed thanks! this has resolved the issue for me!

[2019-12-26 16:24] mutt3x opened #788 "Label Coloring"
Once #278 #545 and alike get implemented it is my dream to see a client that can perform custom label coloring. The more manipulation you can do with the client the better.

For instance:
You create a label for a specific tracker and you can put a color for it. I have been torrenting for at least a decade and having tons of torrents in your seed is in certain situation not ideal. To provide sanity

[2019-12-27 13:49] anirudhgiri opened #790 "Double Click Completed Torrent To Open Containing Folder"
Feature Request!
Double clicking a completed torrent should open it's containing folder instead of doing nothing.
This functionality can be found in various other mainstream bittorrent clients and I believe it's addition is essential for a sleek experience as double clicking your torrent once it's finished downloading is the intuitive thing to do,

[2019-12-27 16:20] kilves76 commented on #777
Make it possible to auto lower speed after a certain ratio, would say min 200% ratio min 64 kb/s speed. I disagree with opinions stated in other threads and the client does share responsibility for swarm health and if anything it should promote seeding forever.
That torrents are about sharing, not satisfying your own greed.

[2019-12-27 18:24] Rakleed commented on #790
@anirudhgiri it seems to be implemented in version 0.16. Are you sure you are using the [latest version 0.17](https://github.com/picotorrent/picotorrent/releases/latest)? You can also try installing the [latest build](https://ci.appveyor.com/project/picotorrent/picotorrent/builds/29710681/job/3j5o7hiwdiqvm83i/artifacts) from AppVeyor.

[2019-12-28 08:07] kilves76 opened #791 "Won't Force Recheck loaded torrent with complete data on disk"
Testing PT for archive seeding but it won't check the data, after Recheck status stays Paused, a little disk activity but not much (~15 MB in 15 mins).
Is this because it tries to open the files with write rights and fails?

All files in my archive are with Read&Execute rights only, to avoid any unwanted corruption (in case of real corruption i'll temporarily change the rights manually, this is so

[2019-12-28 16:36] anirudhgiri commented on #790
@Rakleed I was indeed using the latest version but it seems the problem was at my end. A reinstall of the program seems to have fixed the issue and the double click to open the containing folder functionality works.

Thank you for the help and I apologize for any time wasted.

[2019-12-28 16:36] #790 closed

[2019-12-31 12:34] kilves76 commented on #791
Copied the torrent to another disk with RW attributes, still nothing happening. Tried with both T:\ and T:\Torrentname locations. The torrent size is over 1 TB, could this have something to do with the issue.

[2019-12-31 13:01] kilves76 commented on #791
I lost track which version this is, maybe About should tell the exact build number?
Windows properties says 0.17.0(1911a05).
So i tested with a smaller 4 GB torrent and it still won't recheck anything. Bug or what?

[2019-12-31 13:10] kilves76 commented on #791
Detailed, open torrent file with ctrl-o, select it's location as T:\ , torrent is a normal torrent with its own folder inside which are many data files with path T:\Thistorrent , click  [ ] Start torrent box off, click Ok.
Right click on torrent, select Force Recheck. Nothing happens, torrent stays Paused with Progress at 0%. There is some small disk activity by PicoTorrent.exe but nothing much, 1

[2020-01-01 15:01] Zero3K opened #792 "ReactOS support"
It would be nice if it supported ReactOS (its a Windows clone that is available at https://reactos.org).

[2020-01-01 20:44] vktr commented on #791
Hi! I'll see if I can reproduce this.

[2020-01-01 20:46] #778 closed

[2020-01-01 22:36] #764 closed

[2020-01-02 10:57] PiliJ opened #793 "Versions 0_18_0 x64 does not open."
Hi,
Versions 0_18_0 x64 (installer & portable) does not open (Win 8.1).
Error message : VCRUNTIME 140_1.dll is missing. Try to reinstall the program.
Thank you.

[2020-01-02 16:45] Rakleed opened #794 "Error due to which it is not possible to install version 0.18"
When I try to install the [latest version 0.18](https://github.com/picotorrent/picotorrent/releases/tag/v0.18.0), I get the error "The feature you are trying to use is on a network resource that is unavailable." I uninstalled the previous version, rebooted the computer and restarted the installer, but that did not help. I also tried to connect via VPN, but that didn't help either. What to do?

![i

[2020-01-03 01:53] annogram opened #795 "Bulk operations crash picotorrent consistently"
Trying to perform any bulk cancellations crashes picotorrent.

Reproduce by:

1. Selecting more than one torrent
2. right click and click remove
3. crash should occur

Device info:

Windows 10 home edition

No errors come up in event viewer

[2020-01-04 02:02] bb10 commented on #793
Download the latest Visual C++ 2015-2019 runtimes here: https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

Download and install both x86 and x64.

[2020-01-04 13:59] shakeyourbunny opened #796 "IP Filtering"
It would really be neat if IP filtering via ipfilter.dat or similar would be possible.

[2020-01-05 03:39] SLKTH opened #797 "See 5 last used download locations when adding new torrent"
When you add a torrent and the setup window for the download pops up it would be awesome if you are able to select a folder of a drop down list that contains the last used download locations. (last 5 for example, or even top 5)

This makes my life easier as I mostly download to the same folders that are based on the type of download. (For example: VIDEO, APP, BOOK)

PS. Great work on this client!

[2020-01-07 14:47] matchman72 opened #798 "Set focus to textarea after opened "Add magnet link(s)" window"
It would be nice if focus is set to the textarea when we open the window, so we can paste the magnetic link into the box immediately. Now we require 2 tab presses or 1 mouse click to focus the textarea.

And additionally, some other torrent clients would read clipboard content, and paste clipboard content into the textarea when magent:? keyword found. It would be nice to be implemented too.

Thank

[2020-01-07 19:06] erayrafet commented on #795
Additionally, the app tends to delete unselected and unfinished downloads but keeps them in the list and begins re-downloading the next time I start it. It is easily reproducible.

[2020-01-08 08:50] vonder2 commented on #468
The same for double-clicking on file in the files tab below - it should open the file in associated program, not just open folder in explorer.

[2020-01-08 09:12] vonder2 commented on #185
This method not working for Mozilla Firefox...

[2020-01-09 18:58] thec0mpler opened #799 "Missing 'pause' option when a torrent is in 'queued' state"
This is my first issue.

When a torrent has the state 'queued' there is no 'pause' option in the context menu (which will set the state to 'completed' if the torrent is finished). When a torrent is in 'seeding' state, then there is a 'pause' option in the context menu.

![Queued with resume option](https://user-images.githubusercontent.com/4445369/72096052-c1645b00-3319-11ea-96af-865a1727896d.png)

[2020-01-10 07:39] vktr commented on #799
Hi! Thanks for the report! You are right, we should have a *Pause* option for queued torrents. It's an oversight from my end.

[2020-01-10 07:40] vktr commented on #798
Hi! These are good suggestions!

[2020-01-10 07:40] vktr commented on #796
Hi! I agree it would be neat!

[2020-01-10 07:41] vktr commented on #794
Thanks for the report. I'll have a look.

[2020-01-10 08:04] VideoPlayerCode commented on #782
Thanks @vktr for the 0.18 release. I am really happy that I'm sticking with this client. Getting better and better, and already has the best GUI of all clients!

And yeah, I see the code change which returns "-" whenever a torrent is in a paused state. It's a good step but read https://github.com/picotorrent/picotorrent/issues/769 for some suggestions on how to fix the problem when the torrent has

[2020-01-10 08:05] VideoPlayerCode commented on #795
@erayrafet Please make a separate ticket for unrelated issues like that.

[2020-01-10 08:09] VideoPlayerCode commented on #786
@vktr You are correct. User-agents always have a slash in it.

But it's definitely worth adding libtorrent to the string. Because certain trackers blacklist unknown torrent clients, or whitelist things like libtorrent-based clients. So it's very iimportants.

[2020-01-10 08:13] vktr commented on #786
I'm open for suggestions but my current opinion is that we should keep the user agent as-is since it is conforming to some standard at least. Regarding white/blacklists the only real solution is to contact the trackers that blocks PicoTorrent, have a discussion to see why it's blacklisted and then work from there to have our standards conforming user agent whitelisted.

[2020-01-10 08:19] VideoPlayerCode commented on #786
@vktr For sure, but there are so many trackers that just use old, lazy lists of black/white-listed clients. So setting it to `PicoTorrent/0.18.0 libtorrent/x.y.z` would help compatibility. Can't expect old platforms to change.

It's correct to add libtorrent to the agent. That's the standard way to create new applications. Just look at what your own browser is sending: https://ipecho.net/extra (in

[2020-01-10 08:24] VideoPlayerCode commented on #786
For example, look at the Chrome user agent, which even has a `(KHTML, like Gecko)` section. Why the "like Gecko"? Precisely because of the issue that PicoTorrent is now facing: Inertia in the outside world, forcing Chrome to emulate other packages in their user agent to get compatibility.

This would be an improvement in compatibility and correctness:

`PicoTorrent/0.18.0 libtorrent/x.y.z`

This w

[2020-01-10 08:31] vktr commented on #786
Are you currently running into an issue with PicoTorrent being blacklisted? Would you mind sending me the tracker name at viktor@viktorelofsson.se? I'll be happy to open a discussion with the tracker people in order to have it whitelisted.

I know we had some blacklisting issues in the beginning (like 2015-16 when PicoTorrent was new) but I haven't had any issues reported about that in a long time

[2020-01-10 10:01] erayrafet commented on #795
@VideoPlayerCode It's not exactly unrelated because it is still a bulk action.

[2020-01-10 13:13] arjendejong12 opened #800 "Import from µTorrent"
Hi, is there a way to import my current torrents in µTorrent into PicoTorrent?

[2020-01-12 19:30] vktr commented on #800
We had that way back in 0.13. Unfortunately it got removed, however you might be able to import your torrents by running the 0.13 portable version, importing your torrents from µTorrent, and then running the portable version of 0.18 from the same directory. In theory, this would work.

Let me know if you decide to try it!

[2020-01-12 19:58] vktr commented on #795
@erayrafet Can you give more detail? I can reproduce the original issue but not yours.

[2020-01-12 20:09] vktr commented on #793
The installer *should* install the correct VC++ runtime. Can you attach the installer logs?

[2020-01-12 21:43] PiliJ commented on #793
Hi,
I had given up on installing it and I re-installed it today with an error... see attach !
FYI, a restore point is not created, because Rollback Rx is on the PC.
Thank you.
[PicoTorrent_20200112222105.log](https://github.com/picotorrent/picotorrent/files/4051519/PicoTorrent_20200112222105.log)

[2020-01-12 21:45] PiliJ commented on #793
Close by error, sorry

[2020-01-13 08:09] erayrafet commented on #795
Let's say that I have 5 torrents - 2 of them are finished and the other 3 are still running. If I try to delete/remove the downloaded torrents, the app crashes and upon the next launch, it starts downloading the unfinished ones from scratch.

[2020-01-13 17:48] arjendejong12 commented on #800
The steps you gave me work! Any reason why it was removed?

[2020-01-13 20:02] vktr commented on #800
Great! I initially pulled it since the plugin API went deprecated when we switched to wxWidgets. Now we have a JS API in the works and I'm thinking this should fit well in that when it's ready :)

[2020-01-14 04:51] kilves76 commented on #791
The issue is still there in 0.18.0 , add torrent downloaded with another client, it won't recheck it.
Made sure it's not a permissions issue by Everyone having Full Control of the torrent folder tree.

[2020-01-15 00:25] ghost opened #806 "Wrong DPI after monitor switch"
When I switch my hdmi out between my monitor an tv, specifically back from tv to the monitor, the DPI is incorrect and the entire UI is most likely still rendered for the TV which has different dimensions and DPI. Looks like the PT ignores some sort of windows signal that is responsible for letting programs know that the dpi has been changed or something like that. IIRC PT uses QT and not native w

[2020-01-17 00:23] Tall-Lobster commented on #762
Dear @vktr, it was occuring in both restarting/quitting picotorrent. But so far with the new update it seems to have solved the problem, but I am also using picotorrent less. I will keep up updated about this issue.

[2020-01-17 00:27] Tall-Lobster commented on #407
Dear @vktr, this was occurring before update 0.18.0, but now it seems to be solved for version 0.18.0 for me, but of course I have not been using it as much so I will now have it to automatically startup with windows. Before the issue also occurred regardless of restarting windows or closing picotorrent that reopening it.

[2020-01-18 08:26] Tall-Lobster commented on #407
Dear @vktr , the error is still occuring even after the update to 0.18.0, but also this error occurs after one of the torrent files is updated to including the required files, and when you restart the applicaiton or restart the computer it goes to a view way before the latest download.

[2020-01-18 08:27] Tall-Lobster commented on #762
Dear @vktr , the error is still occuring even after the update to 0.18.0, but also this error occurs after one of the torrent files is updated to including the required files, and when you restart the applicaiton or restart the computer it goes to a view way before the latest download.

[2020-01-19 07:15] kaecy opened #809 "v0.15 is more stable"
I wanna continue using the stable v0.15. v0.15 is not perfect but it feels more like professional quality software. And I believe v0.15 should be offered side by side the latest version as the stable version. I have used the latest version v0.18 and it is very unstable and not fit for use. Thank you.

And can we not see this notification in the future?

![image](https://user-images.githubuserconte

[2020-01-19 18:43] vktr commented on #407
Got it - I'll do a check.

[2020-01-19 18:48] vktr commented on #809
Hi! I'm sorry you're not happy with the latest version. I'm a firm believer in rolling forward so any issues that are reported will be fixed in whatever current version we have and will not be backported to previous versions.

Can you give a bit more information on what you mean by 'not fit for use'? It would help me improve PicoTorrent in coming versions :smiley:

The update available dialog can

[2020-01-19 18:48] vktr commented on #800
Closing this since it seems resolved.

[2020-01-19 18:48] #800 closed

[2020-01-19 18:52] vktr commented on #795
@erayrafet Can you check if the issue is resolved with #803?

[2020-01-19 18:55] erayrafet commented on #795
@vktr Sure. I'll report back tomorrow.

[2020-01-19 18:56] erayrafet commented on #795
Build? I can't compile.

[2020-01-19 18:59] vktr commented on #795
Sorry, it's not straight forward where to find the builds :smiley: Here's a direct link to the x64 artifacts, https://ci.appveyor.com/project/picotorrent/picotorrent/builds/30060196/job/5rf4685xjv75vog7/artifacts

[2020-01-20 05:53] erayrafet commented on #795
Works like a charm! No random exits and no data loss.

[2020-01-20 05:55] erayrafet commented on #795
Thanks!
By the way, do you have plans for incorporating a different UI design, 'cause it looks very dated right now?

[2020-01-22 02:32] DLslime opened #810 "Trackers tab controls confused"
Version: v0.18.0

When I try to remove trackers in Trackers tab, it often remove the wrong track which not I selected. Copy tracker's URL and Force reannounce also have the same problem, so I have to copy and paste the tracker's URL to check if I'm controlling the correct tracker.

[2020-01-23 10:30] joshuatee opened #811 "memory usage(working set) growing way too much"
...and often way too fast. this is really visible when downloading bigger torrents(5-10GB+) and at relatively higher download speed(100 Mbits or so)

on an ancient 4GB machine I use to test stuff PT's working set grows to roughly about 3GB literally in minutes, lets say ~5 at which point the machine becomes totally unresponsible often for quite some time, 5 minutes or more, maybe up to 20. I think

[2020-01-28 22:21] vktr commented on #811
Hi! Thanks for the report. I know there are some other issues mentioning this as well, I'll def. have a look to see if we can fix this easily.

[2020-01-28 22:22] vktr commented on #795
Good to hear @erayrafet 😄 There are some ideas around allowing some CSS styling to have different themes, but nothing concrete. The CSS would be the built-in CSS engine in Qt which allows styling of elements.

[2020-01-28 22:22] #795 closed

[2020-01-28 22:23] vktr commented on #810
Hi, thanks for the report! Is there a consistent behavior in this or is it mostly random?

[2020-01-29 03:32] DLslime commented on #810
I tested it again. It seems mostly random but I noticed trackers' reannouncement would change their queue and Tracker tab's display didn't update in time.

[2020-02-01 18:45] kaecy commented on #809
I strongly believe people should at the other end of stable software. They should not be given alpha software.

And the second point I want to make is...
If somebody is happy using an old version they shouldn't be pushed, forced and shoved until they install the new version. The user should be in control.

[2020-02-01 19:04] birkoffe commented on #809
@kaecy

I feel your pain.
When I know about PicoTorrent in May 2016, there is only one missing feature to me Labes #278. But author start this infinity migration on different frontend (wx, qt). But instead of speeding up the introduction of new features, it has led to a deterioration in the quality of existing functionality.

Rechecking torrent in #407 not fixing 3 year (oh, I'm forgot that with s

[2020-02-01 19:22] vktr commented on #809
So, I can somewhat understand your opinions and if I had infinite time to pour into the development of PicoTorrent I would do things differently.

Unfortunately, though, this is not my day job, and that means I have to try to make my life as easy as possible when it comes to whatever time I can put into this project. I'm trying different frontends to make my life easier - wxWidgets was easier than

[2020-02-01 20:10] vktr commented on #748
Closing since it has been released.

[2020-02-01 20:10] #748 closed

[2020-02-01 20:54] #799 closed

[2020-02-01 21:39] #810 closed

[2020-02-01 22:52] vktr commented on #783
I can somewhat reproduce the issue - I add a torrent with `C:y\temp` as the save path, and PicoTorrent doesn't crash however the torrent shows an error. If I then try to resume it, PicoTorrent will crash. Not ideal.

I'll add some sanity checking in the add torrent dialog.

[2020-02-02 21:07] thec0mpler commented on #793
I'm no expert with this, but maybe the following info does help.

[This issue](https://github.com/dotnet/sdk/issues/6316) looks the same and says the reason behind the error is: "Another version of this product is already installed. Installation of this version cannot continue. To configure or remove the existing version of this product, use Add/Remove Programs on the Control Panel."

The followin

[2020-02-02 21:40] #798 closed

[2020-02-02 22:21] thec0mpler commented on #794
I am not familiar with how installing/upgrading works, but I maybe found some helpful information.

In the logs there are mentions of PicoTorrent version 0.17.0. Because the installer is probably trying to find related products, see lines 132 to 137 in 'PicoTorrent_20200102194257_000_PicoTorrentPackage.log'.

It looks like it is trying to find it at 'C:\ProgramData\Package Cache\{1C89BF65-2746-405

[2020-02-03 07:58] PiliJ commented on #793
I'm no expert too ; thank you for your suggestions thec0mpter !
It was the first attempt to install the soft.
As for the Visual C++ Redistributable, i' found this in programs and features ...
![Image 001](https://user-images.githubusercontent.com/33757855/73635188-dbfccc00-465a-11ea-8ebe-9d45545c5cfe.jpg)

[2020-02-03 21:48] thec0mpler commented on #793
Nice fast response, PiliJ!

I think your Visual C++ Redistributables are fine, I have almost the same list.

In your logs you try to install 'PicoTorrent-0.16.1-x64.exe', maybe trying the new 18.0 version does help? https://github.com/picotorrent/picotorrent/releases

In your logs are the following lines:
[code]

Which are different from mine:
[code]

Some how you get the numeric value '1' back, i

[2020-02-04 08:26] PiliJ commented on #793
Hello thec0mpler,
It's the same value ...

![Image 001](https://user-images.githubusercontent.com/33757855/73726081-a2919280-4726-11ea-9657-a754655d73fe.jpg)
I could install the new version without problem ; here is the log
[PicoTorrent.20200204090959.log](https://github.com/picotorrent/picotorrent/files/4152097/PicoTorrent.20200204090959.log)

Curiously, however, the program appears in the start

[2020-02-04 12:58] thec0mpler commented on #793
In commit 06783d8a97511076774cdd72ac69891f8f7e77d9 the code went from 'returning if the runtimes exists (true of false)' to 'returning the current installed version'. The `Result="exists"` is removed. At least, that is my guess.

The icon is a different issue. There is already an issue about that: #761. I remember I had the same issue, but somehow it went away.

As far as I know, @vktr does not wa

[2020-02-04 13:10] vktr commented on #793
@thec0mpler If I recall correctly the installer changed because there was an error in the version compressor, so we compared a version number against ‘true’ or ‘false’. I’ll take another look at it and see if I can spot anything.

What I mean with “I don’t want to fix old versions” is that I don’t want to fix bugs in (for example) v0.15 and then release and maintain a 0.15.1 version with that fix.

[2020-02-04 13:13] vktr commented on #794
I think in this case the VC redist was not found (either because of an error at Microsoft’s urls or there was no internet connection) and that’s why it prompts for a package location instead as a last effort.

I’m moving the VC redist packages to my own servers so they should be more available against this kind of stuff.

[2020-02-04 14:28] PiliJ commented on #793
@thec0mpler
Issue resolved for me. Thank you again !

[2020-02-04 14:28] #793 closed

[2020-02-10 23:53] Isharoth commented on #728
The same issue on 0.18.0. Also the same problem with magnet links opened from web browser.

[2020-02-11 22:30] hxii commented on #792
ReactOS is not a clone of Windows.
It's an alpha, POC, Windows-like OS that uses XP era drivers... So yeah, I'd much rather @vktr use whatever little time he has (and wants to invest) to improve pico on actual Windows instead of ReactOS.

[2020-02-12 21:13] vktr commented on #792
I probably won't put any real effort in supporting ReactOS, sorry @Zero3K. I've heard about ReactOS from time to time but as @hxii mentioned, it seems mostly like a PoC even after all these years.

[2020-02-12 21:13] #792 closed

[2020-02-13 20:39] #771 closed

[2020-02-14 22:27] #797 closed

[2020-02-14 23:26] #782 closed

[2020-02-17 16:58] pomazanbohdan opened #819 "Crash After add new torrent from open .torrent"
Windows 10,
0.18 win64

1. Exit or minimise PicoTorrent
2. Open .torrent file
3. Click "Ok"
4. Go to tray, but PicoTorrent crash (

Repeatable on two PCs

[2020-02-23 15:37] TechAdvancedCyborg opened #820 "Feature request: Add a pieces visualiser..."
# Can you guys add a pieces visualiser like Flud or QBittorrent?

# Examples
![Flud](https://lh3.ggpht.com/lhSsbaZP4bpNJqcUypHGDP9O6vl5CTuwcA1WPubneLD9EtsEz11P_LIujcQTD9VgDA=h310)
![QBittorrent](https://user-images.githubusercontent.com/2133205/40149202-6177db7c-5940-11e8-84d8-c32d582cae33.png)

[2020-02-23 16:25] vktr commented on #820
Hi! Yes, it it on the internal roadmap 😃 We’ll see when it lands exactly, but thanks for bringing it up!

[2020-02-25 10:41] verlanmar opened #821 "PicoTorrent is getting under the Windows's taskbar"
OS: Windows 10 | PicoTorrent v0.18

Hello,
When Windows's taskbar is located at the top of the desktop, as opposed to its default bottom position, then PicoTorrent is getting under the Windows's taskbar.

Screenshot attached below:
![screenshot](https://user-images.githubusercontent.com/38294552/75239846-0eb66200-57cc-11ea-9967-f6916a1469f2.png)

[2020-02-28 19:07] gruber123 opened #822 "Removing Last torrent from list crash picotorrent (simply close)"
Removing Last torrent from list crash picotorrent (simply close);
Next time launch it again the so-called removed torrent start download again;
and same circle of cases until it should work as expected

[2020-02-29 21:16] vktr commented on #821
Hi! That is odd. You should be able to hover on the PicoTorrent icon in the taskbar to make it show the preview window. Right click the preview window and click *Move*, which should put your cursor where you can click and move the PicoTorrent window.

[2020-03-01 10:06] EwolBash opened #823 "Suggestion: Focus on stability and scaling"
I do not know if my comments will be welcome, but I hope you will hear me out.

On Windows we do not have reliable clients that scale well like rtorrent. We do have transmission, but it's still considered beta software in Windows and development is primarily focused on the GNU/Linux side of things.

qBittorrent is bleeding edge software with frequent feature additions and frequent updates. There's

[2020-03-02 20:12] vktr commented on #823
Hi! Thanks for the kind words! I agree that PicoTorrent is aiming to be a stable, high performance BitTorrent client more than a bleeding edge kind of client. I don't think we're playing catch-up as much as we're trying to add (relevant) features requested by users as well as bringing the client up to a modern, stable state. There's been some issues between versions due to switching UI frameworks

[2020-03-07 19:13] Rakleed commented on #786
@vktr, @VideoPlayerCode

Use Space instead of a slash, such clients as uTorrent, Transmission, Tixati, MediaGet.
<details>
<summary>Screenshots</summary>

![2020-03-07_22-06-42](https://user-images.githubusercontent.com/19418601/76150947-92235d80-60c0-11ea-9e3f-f9b53127b174.png)
![2020-03-07_22-07-07](https://user-images.githubusercontent.com/19418601/76150950-93ed2100-60c0-11ea-9e2b-51e8a71b52c4.

[2020-03-08 22:07] armpogart commented on #811
Same as #734, I can confirm that the issue is introduced in 0.17. I have checked the older versions and they don't have the same issue.

[2020-03-08 22:11] vktr commented on #811
@armpogart thanks for the additional data point!

[2020-03-08 22:13] vktr commented on #786
@Rakleed I think you're confusing things. That list seems to be taken from the Client column of some peer list, and that column usually comes from the Peer ID, not the User Agent.

[2020-03-09 09:00] Rakleed commented on #786
@vktr I do not fully understand some of the terms, so maybe I initially made the request incorrectly. But PicoTorrent in the Client list appears as `PicoTorrent/x.y.z`, and I would like it to appear as `PicoTorrent x.y.z`, like most other clients.

[2020-03-09 09:15] pitsi opened #824 "A couple of missing lines in the greek translation"
As seen on the screenshots below, there are some lines of text that are missing from the greek translation of picotorrent and they show up as... weird text.
I offer to translate them, if you show me the right source, because I checked lang/1032.json and everything seems fine in there

![1](https://user-images.githubusercontent.com/5880037/76198425-b5e8bf80-61f6-11ea-9c05-29c8de40b1bc.jpg)
![2](htt

[2020-03-10 14:26] thec0mpler commented on #824
Thank you for offering help! You are right that the language file is 'fine'. There are only some lines (key/value pairs) missing at the end of the file. The English file has 254 lines vs 239 lines in the Greek version.

If you could translate and add the following lines to the file, that would be awesome! (do not forget to add a comma at the end of the 'encrypt_config_file' line)

[code]

If you h

[2020-03-10 17:48] pitsi commented on #824
Although those "&" in front of some words confuse me, here is the translation. Feel free to add them yourself
[code]

I need some help or confirmation on these
- the translation on "amp_details_panel" translates to "details" only (one word instead of two), there is no translation for "panel" because there is no equivalent work in greek with similar meaning. The closest one I can think is "πίνακας"

[2020-03-10 18:32] vktr commented on #822
Hi! I can't reproduce the issue. Can you tell me what steps you're taking?

[2020-03-11 17:56] thec0mpler commented on #824
Thanks for the translations! I have added them to the file.

I think it is best if @vktr answers your questions, because it is his project. I also have the question about the `&` character in front of some translations.

[2020-03-11 20:20] #824 closed

[2020-03-11 20:21] vktr commented on #824
@pitsi @thec0mpler The ampersand (`&`) prefix is used for menus to show the legend (underline) when pressing Alt. So `&File` would show as `File` with the `F` underlined.

[2020-03-11 21:57] thec0mpler commented on #819
I did some digging to the not appearing 'add new torrent' dialog and crash while trying to add a torrent. The following steps should produce the issues.

0. Delete Picotorrent.sqlite

No 'Add new torrent' dialog:
1. Open PicoTorrent
2. Go to 'View' -> 'Preferences'
3. Enable 'Close to notification area'
4. Click 'OK'
5. Close PicoTorrent by clicking the X at the top right
6. Open a magnet link
7.

[2020-03-11 22:00] vktr commented on #819
@thec0mpler this is awesome - appreciate it! I'll see if I can reproduce the issue using your steps tomorrow. There are a few issues related issues I think so solving this would be big. Thanks again!

[2020-03-12 05:43] pitsi commented on #824
Thank you for accepting my work :)
For uniformity reasons, i.e. using the same noun or verb in all iterations of "download" and "upload", I think that the lines 169 and 170 should be changed to
[code]
As I have said above, the translation for "downloaded" is good enough. Actually, it is just acceptable nowadays, because 10-15 years ago some idiots wanted to translate every tech word to greek, so t

[2020-03-15 18:21] Rakleed commented on #794
@vktr @thec0mpler

This is strange, but I was able to install version 0.18 using the .exe file.

How I could do it. I uninstalled PicoTorrent. Since I could not install version 0.18 using the .exe file, I downloaded and unpacked the zip archive. Now I decided to try to download the installer version 0.17, but at startup I was offered either to repair the application or delete it. I chose Repair, e

[2020-03-16 21:54] vktr commented on #819
I can reproduce the issue. There's something wrong when sending WM_COPYDATA and the window is minimized to tray... I haven't found a solution yet, but I can provoke the error anytime at least. We might have to rewrite the single instance checking logic a bit.

[2020-03-17 10:37] andreborud opened #828 "Crashes when selecting multiple torrents and right click and remove"
Picotorrent crashes every time I select multiple torrent, right click on one and select remove torrent. After wards it doesn't recover what has been downloaded and not. And Restarts download everything from scratch, even if it was fully downloaded.

Happens on windows 10 with all the latest updates and the latest version of Pico.

[2020-03-17 10:57] vktr commented on #828
Thanks for the report! Can you reliably reproduce the issue? If so, would you mind comparing the save path of the torrent (per the details tab) before and after it restarts downloading from scratch. It might be that it loses the save path and then downloads it to another path.

[2020-03-17 14:17] NikoGrano opened #829 "Documentation cannot be reached via Web"
Documentation url of http://docs.picotorrent.org/ is not valid due CNAME Cross-User Policy on Cloudflare.

![image](https://user-images.githubusercontent.com/4658966/76865016-bb837c80-686a-11ea-8d1b-a5f35c1acf77.png)

[2020-03-17 14:18] vktr commented on #829
Hi! Thanks for the report, I'm aware but I just haven't had the time. I'll keep this issue to track progress though.

[2020-03-17 15:57] andreborud commented on #828
Yes, I can reproduce it all the time. This issue has been here in the last three versions, so its not something new introduced in the latest one.

The save path does not change after it restarts.

I had two things downloading and when both where at 100% I removed them like described above. No crash.

Then when having 6 things downloading, only two of them where at 100%. In the screenshot it was th

[2020-03-17 16:03] vktr commented on #828
That helps a lot! If I understand correctly - the items you are removing (which causes a crash) will be added back to PicoTorrent when you restart? And begin downloading?

I'm speculating but it seems PicoTorrent crashes after it has removed the first item but before it has removed the second. It just removes the data and crashes before it can remove the torrent from the session. So when you start

[2020-03-17 16:36] andreborud commented on #828
Hard to say if they are removed or not as they are still there after the crash, I never seem them disappear before the crash.

Yes. I never select remove torrent and files, only remove torrent.

As it doesn't seem to happen when all files are full downloaded, or when only selecting one, my first thought is that some loop crashes when some of the files are still downloading, even though they aren't

[2020-03-17 16:47] vktr commented on #828
I'll have a look tonight and see if I can reproduce it. Thanks for the clarifications!

[2020-03-17 16:59] andreborud commented on #828
Just tried to remove with all six downloads at 100% and no problem. So it only seems to happen when at least one torrent is still downloading.

[2020-03-17 19:18] vktr commented on #828
I just remembered - you may be running into #795 (which has been fixed but not released). Can you try the latest binaries from AppVeyor and see if your problem still exists?

https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/ee9n1kxhuxbumg0i/artifacts

[2020-03-18 14:26] vktr commented on #822
Hi again. This might be the same issue as #795 and if so, it has been fixed but not released. Can you try the latest installer from AppVeyor?

https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/ee9n1kxhuxbumg0i/artifacts

[2020-03-19 01:33] gruber123 commented on #822
Hi Viktor,

I've tried your link from appveyor - it shows as 0.18 version so as already installed on my computer,
the link I've used https://ci.appveyor.com/api/buildjobs/ee9n1kxhuxbumg0i/artifacts/build-x64%2FRelease%2Fpackages%2FPicoTorrent-0.18.0-x64.exe

And I see same thing:

1st time I put 1 torrent - download it, remove torrent only, application doesn't exit;
2nd time I put 2 torrents - dow

[2020-03-20 07:40] Suncatcher commented on #772
Kudoz to that, I'd appreciate I can see the uploaded/downloaded stats of the torrent

[2020-03-20 16:06] andreborud commented on #828
Sorry for the delay. I just managed to test the new version 0.18.0 and it still happens for me there.

[2020-03-23 11:01] Geograph-us commented on #809
Thanks @kaecy I tried version 0.15 and it works great
Before that I tried the latest version 0.18 and it crashes due to the cyrillic-paths
I think version 0.18 brought back old issues.

P.S. How many years Qt and it still cannot work normally with non-Latin paths in windows?

[2020-03-23 11:42] vktr commented on #809
@Geograph-us can you share an example of the issues you’re experiencing with Cyrillic paths?

[2020-03-23 12:11] vktr commented on #828
Thanks @andreborud I'll do some more digging and see if I can reproduce it!

[2020-03-23 12:13] vktr commented on #822
@gruber123 you might need to uninstall your local version before installing the one from AppVeyor, or try the zip file.

The add torrent dialog will remember save path history in the next version!

[2020-03-23 12:28] Geograph-us commented on #809
Video example and crashdump
[Desktop 2020.03.23 - 17.18.00.08.mp4.zip](https://github.com/picotorrent/picotorrent/files/4369304/Desktop.2020.03.23.-.17.18.00.08.mp4.zip)
[c0edd019-7a9d-4140-b531-4ae601e49c9c.zip](https://github.com/picotorrent/picotorrent/files/4369309/c0edd019-7a9d-4140-b531-4ae601e49c9c.zip)

[2020-03-23 14:04] vktr commented on #809
Thanks @Geograph-us! That really helps!

[2020-03-25 08:09] kaecy commented on #809
As long as this post helped one person that's good enough. If you love v0.15 share it.

[2020-03-25 08:09] #809 closed

[2020-03-28 19:01] Rakleed opened #830 "When the path changes for Downloads (on Windows), PicoTorrent by default continues to download files in the old path"
When the path changes for Downloads (on Windows), PicoTorrent by default continues to download files in the old path.

I originally had a way for downloads like this - `C:\Users\<user_name>\Downloads`, but then I changed it to `D:\Downloads`. But when I open any .torrent file or add a magnet link, by default PicoTorrent offers to upload the file to `C:\Users\<user_name>\Downloads`, although PicoTo

[2020-03-29 16:50] vktr commented on #809
@Geograph-us The issue you mentioned should be fixed in #831

[2020-03-29 16:51] vktr commented on #830
Thanks for reporting! I'll have a look.

[2020-03-30 08:38] vktr commented on #830
I can't reproduce this issue in either 0.18 or the latest unreleased version 🤔 Can you share the reproduction steps?

[2020-03-30 13:46] Rakleed commented on #830
Steps to reproduce the problem:
1. The path for the Downloads folder was set by default as `C:\Users\<user_name>\Downloads`
2. Download and install PicoTorrent
3. Open any .torrent file and make sure that by default PicoTorrent offers a path for downloading `C:\Users\<user_name>\Downloads`
4. Close PicoTorrent
5. Change the path for the Downloads folder to `D:\Downloads` (or any other) and agree t

[2020-03-30 14:18] vktr commented on #830
Between step 5 and 6, do you click OK and/or close PicoTorrent before restarting the computer? I clicked OK, closed PicoTorrent and it showd the new save path as default when adding torrents.

[2020-03-30 16:14] Rakleed commented on #830
I closed PicoTorrent, made the default path for the Downloads folder (`C:\Users\<user_name>\Downloads`), clicked OK, and then clicked Yes, agreeing to transfer all previously downloaded files to a new location. Then I rebooted the computer without opening PicoTorrent, changed the path for the download folder to another (in my case `D:\Downloads`), clicked OK, and then again Yes. Rebooted the compu

[2020-03-30 18:11] vktr commented on #830
What version is this? There's no option in the latest version to relocate existing torrents 🤔 Can you show a screenshot of that dialog?

[2020-03-30 18:14] Rakleed commented on #830
I am using version 0.18, with GitHub. And I talked about this dialog:
<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/19418601/77946672-606e7280-72cb-11ea-9f78-8561d6eb9fa1.png)

</details>

[2020-03-30 18:16] vktr commented on #830
That dialog is not something created by PicoTorrent... Did you download v0.18 from GitHub? Or is it someone else's fork?

[2020-03-30 18:19] Rakleed commented on #830
I downloaded PicoTorrent from GitHub. So I didn’t seem to write anywhere that this dialog creates PicoTorrent. The system creates this dialog after changing the path and clicking OK.

[2020-03-30 18:23] vktr commented on #830
Well, what application creates that dialog then?

[2020-03-30 18:26] Rakleed commented on #830
Most likely Explorer or Windows itself.

[2020-03-30 21:40] thec0mpler commented on #830
If you don't mind me, I think I can clarify.

In Windows there are 'default' folders. In this case for Downloads, Documents, Pictures, etc. You can change the location of these folder. This is was Rakleed did. Lets call them A (old) and B (new). When changing, Windows will create folder B and asks if you want to move the files from location A to B. No matter what you choose, PicoTorrent will not c

[2020-03-31 05:35] vktr commented on #830
Oh, I get it now. Thanks @thec0mpler and now I understand your steps @Rakleed. I don't think I want to classify this as a bug, but more a feature request since PicoTorrent works as intended.

Perhaps we can classify save paths in PicoTorrent and tag them somehow if they correspond to a default folder, and let PicoTorrent keep track of their actual path if so. It might be a cool change. I haven't t

[2020-03-31 18:14] vktr commented on #791
Hey! Sorry for the late answer. This issue should be fixed by the linked pull request and included in the next release.

[2020-04-01 07:25] #791 closed

[2020-04-13 13:16] asvc opened #833 "Build with /guard:cf"
Picotorrent seems to be already built with `/DYNAMICBASE`, `/HIGHENTROPYVA` and `/NXCOMPAT`:

[code]

Would it be possible to add [`/guard:cf`](https://docs.microsoft.com/en-us/cpp/build/reference/guard-enable-control-flow-guard?view=vs-2019) for the full roster of mitigations?

[2020-04-14 05:53] vktr commented on #833
Hi! Sounds reasonable. I'll add it as a feature request 😃

[2020-04-14 14:51] elexor commented on #828
Happens for me 0.18.0 windows 10.

[2020-04-15 20:05] vktr commented on #828
Hi @elexor, sorry you're seeing the same issue. I'm in the middle of a big push for the next release and I'm quite certain it's fixed there.

[2020-04-18 14:39] vurghus-minar opened #834 "Crashes when adding magnet urls from tray icon context menu on Windows"
Running latest portable binaries 1.8 on Windows 10 with preferences set to minimizing and closing to tray.

### Steps to reproduce:
1. Right click the tray icon and select "Add magnet link(s)"
2. Paste magnet URL in the dialog and click "OK"

PicoTorrent crashes.

### Resulting log:

File verbosity level: 0
date       time         ( uptime  ) [ thread name/id ]                   file:line     v|
2

[2020-04-19 12:33] asvc commented on #820
Out of sheer curiosity, what is the purpose of this visualisation apart from an aesthetic pleasure?

In my very limited understanding it shows which parts of the torrent are being downloaded and optionally colours sections that have missing chunks.

[2020-04-19 12:41] TechAdvancedCyborg commented on #820
Well it could be interesting to know what parts are downloaded, especially if at some points you make an option to download pieces at the end and at the start, you can track progress and see when you can start watching(example) a certain video file.

[2020-04-20 19:12] TechAdvancedCyborg commented on #820
Btw @vktr when is the next release coming out?

[2020-04-20 19:45] vktr commented on #834
This should be fixed in the upcoming release.

[2020-04-20 19:46] vktr commented on #820
Hey @TechAdvancedCyborg - I'm currently moving back to wxWidgets for the UI framework so as soon as that is done I'll make a feature release out of that, and then I can move on with requested features again 😃 Shouldn't be more than a few weeks.

[2020-04-20 20:12] TechAdvancedCyborg commented on #820
Thanks! Good luck!

[2020-04-22 09:21] vurghus-minar opened #835 "Add magnet dialog does not receive cursor focus upon load"
Running latest 0.18 portable binaries on Windows 10.

### Steps to reproduce:
1. Open "Add magnet link(s)" dialog.
2. Using keyboard, cursor does not focus on textarea unless tabbed twice.

### Expected:
Cursor should focus on "Add magnet link(s)" dialog textarea upon load to allow keyboard paste (CTRL+V) as was the case with the previous versions.

Unsure whether this is a feature or a bug?

[2020-04-23 08:21] vktr commented on #835
Hi! Thanks for the report! I'll label it as a feature and remember to implement it for the next version.

[2020-05-02 23:48] vatonbero opened #837 "Download page header and links are not matching"
Hi there,

I went to downloads page to obtain latest picotorrent and i have noticed that header states v0.15 and yet the download links are for 0.18.

Image:
![Screenshot from 2020-05-03 01-44-02](https://user-images.githubusercontent.com/59034981/80894942-191b3d80-8ce0-11ea-895c-5ca22372b243.png)

[2020-05-04 20:31] vktr commented on #837
Hi! Thanks for reporting! I think we already have an issue reported on that, but thanks for reminding me 😃 I'll get that sorted out.

[2020-05-06 14:37] #452 closed

[2020-05-11 09:32] Rakleed commented on #794
I got a similar error that appears when installing and running other applications. Probably due to the fact that I used the utility to completely remove AdGuard, which broke something in the registry. After reinstalling Windows, this problem no longer exists.

[2020-05-11 09:32] #794 closed

[2020-05-11 09:35] Rakleed commented on #837
Yes, I already created such an issue - https://github.com/picotorrent/picotorrent/issues/755

[2020-05-11 10:08] vktr commented on #794
Hey @Rakleed thanks for the follow-up! I've been busy with the rewrite for 0.19 and have been meaning to take a look at this at some point before that release, but I'm happy you got it working. Feel free to re-open if the issue comes back.

[2020-05-11 10:19] vktr commented on #837
Knew this felt familiar 😃 Closing this and keeping progress in #755. Thanks @Rakleed.

[2020-05-11 10:19] #837 closed

[2020-05-13 13:23] asvc opened #839 "Integrate libcurl to allow HTTP(s) file downloads"
Would you consider integrating libCurl/[cpr](https://whoshuu.github.io/cpr/) to allow users download via HTTP(s) with resume support?

[2020-05-13 19:44] vktr commented on #839
You mean regular HTTP(s) downloads not related to BitTorrent? If so, then no, there is no such plans, sorry.

[2020-05-14 10:09] asvc commented on #839
Totally understandable. Thank you for the reply.

[2020-05-14 10:09] #839 closed

[2020-05-14 23:04] bb010g commented on #538
This still isn't implemented; exposing libtorrent's [`lt::settings_pack::announce_to_all_trackers`](https://www.libtorrent.org/reference-Settings.html) in the session settings should work? In addition, `active_tracker_limit` should probably be wired up to the UI, as it's currently only accessible by manually modifying `PicoTorrent.sqlite`.

https://github.com/picotorrent/picotorrent/blob/3ffaa83ea

[2020-05-15 07:06] vktr commented on #538
Hi! There's a big rewrite in the works, and there's a lot of settings which will be exposed in the preferences dialog. These two among them.

I'll reopen this to keep track of it,

[2020-05-15 12:11] matejbolko opened #840 "New language - slovenian"
I like this program so i decided to participate. I took english file and translated it to slovenian language.
here is the file: https://www.dropbox.com/s/wx673kptseggcnx/1060.json?dl=0
What are the steps to add this file/language to official distribution and all new releases?

[2020-05-15 13:10] vktr commented on #840
Hi! If you fork this repository, then add the JSON file in the `lang` folder as well as add a line in the `src/picotorrent/resources.rc` file for your language, it will be added to all new releases 😃 I think you can do all this from the GitHub web interface but I'm not sure. Let me know if you need assistance!

[2020-05-25 09:13] Dyras opened #841 "Is PicoTorrent being added back to the Windows Store?"
Greetings! It's been roughly two years since PicoTorrent was removed from the Windows Store and I'm wondering if adding it back is on the road map for the foreseeable future?

Thanks!

[2020-05-25 10:17] vktr commented on #841
Hi @Dyras! Yes, as soon as the next version is done, I will start the process of getting PicoTorrent listed in the Windows Store again.

[2020-05-26 12:10] Dyras opened #842 "Implement anonymous mode like in qBittorrent"
Greetings! qBittorrent has an option to enable an anonymous mode that hides some info about the client, to prevent fingerprinting. I think this could be something really important for PicoTorrent, seeing as it currently has modest user shares.

https://github.com/qbittorrent/qBittorrent/wiki/Anonymous-Mode

[2020-05-26 22:17] Mrfiregem commented on #484
At least for me, in the file tab of a torrent, there's no way to sort the list by any of the columns, making it hard to navigate large lists. Here's a picture of what I mean:
![image](https://user-images.githubusercontent.com/5158194/82955515-07465680-9f7d-11ea-87af-563b8927281b.png)

Is there any way you can add sorting to this list like there is with the main torrents one?

[2020-05-27 06:34] vktr commented on #842
We had that back in the day, I can't remember why it was removed. I'll add it as a feature.

[2020-05-27 06:35] vktr commented on #484
Sure - I'll see what I can do!

[2020-05-31 16:21] mmocz commented on #828
FYI Im having the exactly same issue on 0.18.0.

[2020-06-23 13:41] kilves76 commented on #791
Great!

[2020-06-23 14:08] kilves76 opened #844 "Expose all libtorrent settings"
Could it be possible to expose all libtorrent settings? If nowhere else then in the database? There's a lot an advanced user might want to change. If there's something PT absolutely needs to function these could be overrided from another table; existence of that table would be enough documentation.

And a default settings table so it'll be easy to return to PT install default settings if something

[2020-06-24 13:22] davidbwaters opened #846 "Monochrome Tray Icon Option"
Hi, I would love to see a monochrome tray icon and went ahead and mocked up a quick one to illustrate what I think would add a stealthy feature.

I was thinking trying to work with dark/light mode could make this unnecessarily complicated, so I could make one with white foreground and transparent black background so it would work with both modes.

Either way there's a decent vector trace of the lo

[2020-06-24 13:24] vktr commented on #846
Hey! That's pretty awesome! I'll check it out and perhaps it'll make it into a future version 😄 There's been a few requests for it before I think.

[2020-06-24 13:26] vktr commented on #844
There's been requests for this before - and while I like the idea it also makes it extremely easy to break the client in unexpected ways 😄 As you said we definitely need a Reset to defaults button somewhere for this. I'll see if I can make something happen in a future version.

[2020-06-24 21:19] davidbwaters commented on #846
Either way if you needed a decent vector trace of the logo, there you go.

[2020-06-26 11:18] kilves76 opened #847 "Ratio doesn't update for imported torrents"
Already downloaded torrents imported to PT don't update their ratio when seeding. Is there some trouble increasing ratio stats if actually downloaded bytes is zero? Could it be solved by setting bytes downloaded to torrent size when importing then. Anything but a permanent Ratio 0.000 which is completely useless and should make any responsible torrenter cry.

And what does PT report to tracker in

[2020-06-26 11:32] vktr commented on #847
Hi @kilves76! I'll see what we do for calculating the ratio in the UI.

Reporting stats to trackers is done by libtorrent, and I agree it is important to do it proper and truthful, which libtorrent does. So no worries there :)

[2020-07-04 19:21] rmarquis commented on #846
See also #676.

[2020-07-05 18:06] davidbwaters commented on #846
Here is a semi-transparent background version that would look good on both modes.

![PicoTorrent-Dark-BG](https://user-images.githubusercontent.com/5247627/86539203-b8b7a080-bec8-11ea-9f6f-5ec62322f329.png)
![PicoTorrent-Light-BG](https://user-images.githubusercontent.com/5247627/86539204-b9e8cd80-bec8-11ea-8291-89ac07fe5f29.png)
![PicoTorrent](https://user-images.githubusercontent.com/5247627/865

[2020-07-10 10:17] jybp commented on #633
Another log file that might help with the issue.
Tried to install v0.18.0 after uninstalling v0.15.0. (Windows v10.0 Build 18363: Service Pack 0)

[code]

[2020-07-14 19:43] h5rdly commented on #703
Any luck with the dark theme?  only program that's still burning my eyes :(

[2020-07-16 17:16] vktr commented on #703
Since we dropped Qt there's no real way of adding dark mode without alot of work (since wxWidgets is Win32 based and those controls don't have much dark mode support). *However*, I have an experimental branch of PicoTorrent built on WinUI 3.0 preview, and when that hits release next year, I imagine we can move to that, and get dark mode support for free.

Sorry if it's not the answer you're lookin

[2020-07-17 15:45] h5rdly commented on #703
Sounds good.

Since you brought up "GUI Toolkit X Hell" type issue, thought I'd mention nanogui -
https://github.com/mitsuba-renderer/nanogui

I was looking for something small that uses OpenGL (And not a native toolkit) , potentially cross-platfrom, and that has bindings to Python.

Out of these, probably just the size is of interest for PicoTorrent, I thought I'd point it out in case it's someho

[2020-07-17 17:43] vktr commented on #703
Thanks for the tip! I’ll have a look before I get too invested in WinUI 3 👍

Viktor

[2020-07-17 17:54] eurobank commented on #777
Please add some ratio seed limit or time limit.

We can't share everything forever.

[2020-07-17 17:56] eurobank commented on #227
@vktr Please let the user decide what he wants to do.

[2020-07-17 18:04] eurobank opened #849 "Max Connections Limits"
I can't find any information or documents on how to limit the max connections.

Isn't there any way?

[2020-07-21 13:47] ivanjaros opened #850 "IDEA: add torrent irc chat"
So I just had this interesting idea that might be worth trying out...

Since you can see your peers that seed/leech the bit torrent file I though that it would be interesting to automatically create a IRC chatroom for that particular torrent file(based on some hash) where you could chat with the fellow clients - directly in the client(so no extra IRC client would be needed). Essentially, each bit

[2020-07-22 22:43] mutt3x commented on #850
Where is the weed that you are smoking because i want some of that. Thats what i think.

Private trackers mostly have their own IRC channels where you can talk... for public ones, well better not talk there.
I believe your idea is pure in hearth but in action its just unsafe, bloat and probably feature weak. Torrenting is about content, not chatting with the peer. **I dont see myself chatting with

[2020-07-25 16:38] vktr commented on #850
Hi @ivanjaros! Sorry, I'm on vacation so response time is longer.

I don't think it's something I want in PicoTorrent really. It reminds me a bit of the rating system which could be found in uTorrent back in the day (maybe it's still there, I don't know). I **might** support a plugin API which can help make this happen, but I won't be adding anything like this in the core application, or accept a

[2020-07-25 16:38] #850 closed

[2020-08-14 21:10] vktr commented on #779
I've pushed a fix for this in #843

[2020-08-14 21:30] vktr commented on #755
![](https://media2.giphy.com/media/3zFcbgHoIXzykQc7vU/giphy.gif)

The site has been fixed 😃

[2020-08-14 21:30] #755 closed

[2020-08-14 21:41] vktr commented on #833
I've added this to the release builds for 0.19.

[2020-08-14 21:47] vktr commented on #663
Similar to #796

[2020-08-19 19:03] #768 closed

[2020-08-19 19:03] #806 closed

[2020-08-19 19:03] #811 closed

[2020-08-19 19:03] #819 closed

[2020-08-19 19:03] #822 closed

[2020-08-19 19:03] #823 closed

[2020-08-19 19:03] #828 closed

[2020-08-19 19:03] #834 closed

[2020-08-19 19:03] #835 closed

[2020-08-19 19:03] #842 closed

[2020-08-19 19:05] vktr commented on #767
This was fixed in #843 and will be released soon.

[2020-08-19 19:05] #767 closed

[2020-08-19 19:06] vktr commented on #779
This was fixed in #843 and will be released soon.

[2020-08-19 19:06] #779 closed

[2020-08-19 19:06] vktr commented on #833
This was fixed in #843 and will be released soon.

[2020-08-19 19:06] #833 closed

[2020-08-23 17:37] vinajuliette opened #852 "Small quality of life improvements"
- Clicking magnet links from Chrome (any version) does not open PicoTorrent
- "Open File" and "Open Magnet Link(s)" under the File menu should have control key bindings e.g. Control-O and Control-U (U for URL as the mnemonic)
- Opening the magnet link popup should focus the text box first, not the OK button

[2020-08-23 19:05] vktr commented on #852
Hey @vinajuliette! Thanks for the report! We're getting close to the next release but these are good suggestions, and some are already fixed, so I will make sure to fix the rest of them as well.

[2020-08-23 19:06] #772 closed

[2020-08-24 17:17] #538 closed

[2020-08-25 14:29] dj245 opened #855 "Crash when removing non-metadata torrent and files"
If the torrent is in the "Downloading metadata" state, performing the action Remove->Remove torrent and files will cause the program to crash.

I am using Windows 10 with the default settings.

[2020-08-25 14:34] vktr commented on #855
Hey @dj245! Thanks for the report! Are you running v0.18?

[2020-08-25 14:54] dj245 commented on #855
Yes, v0.18.0

On Tue, Aug 25, 2020 at 9:34 AM Viktor Elofsson <notifications@github.com>
wrote:

[2020-08-25 15:55] vktr commented on #855
I think there's an issue reported. And should be fixed in the latest builds (and will be resolved in the next release). You can try them from here, https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/eh8eqjjg4k44mhlm/artifacts.

You might need to uninstall your current version in order to be able to install this one, since it has the same version number.

[2020-08-25 17:51] #852 closed

[2020-08-26 12:03] szmarczak opened #856 "UI stutters every second"
The list looks like:

![image](https://user-images.githubusercontent.com/36894700/91300999-7f9efc80-e7a4-11ea-9879-ffaa3a3fe92e.png)

when I'm moving the window it stutters every second. The program doesn't feel responsive when opening a context menu. I'm on Windows 10 x64bit 2004.

[2020-08-26 12:22] vktr commented on #856
Hey @szmarczak! Thanks for the report. I'll definitely try to reproduce this in the upcoming version.

[2020-08-26 12:34] szmarczak commented on #856
Thanks for a very quick response! I'm running PicoTorrent v0.18. Here you can see exactly what happens: https://www.youtube.com/watch?v=HKPR-E2Ih8w

[2020-08-26 12:36] vktr commented on #856
Awesome, thanks for the video! If you can, would you mind trying the latest binaries at https://ci.appveyor.com/project/picotorrent/picotorrent/build/job/22ovf5t3cdcufwbl/artifacts? The zip file has a portable version which you can use. Perhaps just add the torrents with a different save path to see if the update issue still occurs.

[2020-08-26 12:45] szmarczak commented on #856
Yep, the issue is resolved there! Many thanks!

[2020-08-26 12:45] #856 closed

[2020-08-26 12:48] szmarczak commented on #856
Also I want to report that you cannot sort by Status anymore there. Otherwise everything is great.

[2020-08-26 12:55] vktr commented on #856
Great! Thanks for the quick responses :D

[2020-08-28 20:12] #776 closed

[2020-09-01 22:47] szmarczak opened #859 "How to export a torrent that has been already loaded?"
The title says it all :P

[2020-09-01 22:51] szmarczak commented on #859
Dumb me, sorry, info hash.

[2020-09-01 22:51] #859 closed

[2020-09-02 08:36] vktr commented on #859
Hi! Did you solve it with the info hash?

[2020-09-02 08:54] szmarczak commented on #859
Yep. To import a torrent you just need the info hash.

[2020-09-04 07:37] vktr commented on #758
Hey @hl24a3! We actually released v0.19 yesterday which is more similar to the old v0.15 in a lot of ways - your issues should be fixed in that release.

[2020-09-04 07:37] #758 closed

[2020-09-04 07:46] vktr commented on #480
Hey @JonasNo! Closing this since logging has been improved for a few versions now as well as pausing when disk space is low.

[2020-09-04 07:46] #480 closed

[2020-09-04 07:49] vktr commented on #783
Hey @Bananaman! I think the latest version has solved this issue. Closing this for now but if you run into the same issue again, feel free to reopen or create a new issue.

[2020-09-04 07:49] #783 closed

[2020-09-04 07:51] vktr commented on #754
@dawidgorczyca please try the latest version and see if this is resolved. Feel free to reopen och create a new issue if it's not!

[2020-09-04 07:51] #754 closed

[2020-09-04 07:51] vktr commented on #855
Hi @dj245! Please try the latest version (0.19). Feel free to reopen or create a new issue if it's not resolved.

[2020-09-04 07:51] #855 closed

[2020-09-04 07:54] vktr commented on #697
Hi @blountb1! Can you try the latest version (0.19) and see if the issue has been resolved? Closing this for now but feel free to reopen or create a new issue if it's not.

[2020-09-04 07:54] #697 closed

[2020-09-04 07:55] vktr commented on #734
Hi @Ilya87! Can you try with the latest version to see if this is resolved?

[2020-09-04 07:56] vktr commented on #844
I'm closing this in favor of #667 which is the same issue reported.

[2020-09-04 07:56] #844 closed

[2020-09-04 07:58] vktr commented on #633
@JBES @jybp does this issue still occur with the latest version?

[2020-09-04 09:18] AlexQuiniou opened #862 "Hey 😁"
Hey ! Just wanna say thanks for your app.
Heavy user here.

[2020-09-04 09:20] vktr commented on #862
Awesome to hear! 😄

[2020-09-04 09:20] #862 closed

[2020-09-04 11:45] jybp commented on #633
Now the following error message appears when installing the 0.19.0-x46

![](https://i.imgur.com/Y0CClJK.png)

![](https://i.imgur.com/CM4MPEg.png)

Looks like the 0.15.0 version wasn't properly uninstalled.

[code]

[2020-09-04 11:49] vktr commented on #633
Thanks! From what I can gather, it is the vc_redist that fails to install correctly. Do you have any C++ redistributables installed already? Which ones?

[2020-09-04 13:45] jybp commented on #633
A bunch apparently

![](https://i.imgur.com/mEHM3GK.png)

[2020-09-04 15:58] birkoffe opened #864 "Wrong Cyrillic charset"
0.19.0

Wrong Cyryllic charset in torrent and file panels but ok in info panel.

![picotorrent-cyrillic](https://user-images.githubusercontent.com/828228/92260482-2a7c8c80-ef02-11ea-9906-191826be0a0c.png)

[2020-09-04 16:53] dj245 commented on #855
Confirmed resolved thank you.

On Fri, Sep 4, 2020 at 2:52 AM Viktor Elofsson <notifications@github.com>
wrote:

[2020-09-04 19:44] phalox opened #867 "picoTorrent crashes more than before"
Hi there!

I've just updated to the most recent version, but picotorrent crashes more than it did before (I used to have crashes deleting multiple torrents at once). Now it crashes when I added a magnet link (in the preview window) and also when I stopped seeding.

I sent you the crash report of the former.

Good luck and thanks for your work!

[2020-09-04 20:01] phalox commented on #867
I also sent you the 2nd one. Even when I just click on the seeding torrent it crashes. Makes it pretty tough to use right now :-(

[2020-09-04 20:37] vktr commented on #867
Hi @phalox! The crash report server is down at the moment 😅 Can you email me the crash report at viktor@viktorelofsson.se?

It's located at `C:\Users\<you>\AppData\Local\PicoTorrent\Crashpad\db\reports` IIRC. It's a `.dmp` file.

[2020-09-04 20:40] #864 closed

[2020-09-05 02:45] vinajuliette opened #870 "UX regression: easily open containing folders of transfers"
This is a UX regression though a small issue: in the previous (Qt) version, after a torrent was completed (and probably before, but I had not tested that) a user could double-click a transfer in the transfer list and it would open the containing folder in Explorer, but this no longer works.

An improved version would repeat this old functionality, but also
1) support hitting the Enter key to open

[2020-09-05 05:40] birkoffe opened #871 "Small width of preferences list"
0.19.0

Small width of preferences list for Russion translation and/or English on 2k monitor with 125% scaling.

![изображение](https://user-images.githubusercontent.com/828228/92298595-dced3780-ef74-11ea-83cb-ae896051a36a.png)

[2020-09-05 05:56] birkoffe opened #872 "Too wide column"
0.19.0

Too wide last column in torrent and files panels with right align text.
Need to add one blank column or align text to left as in previous version.

![изображение](https://user-images.githubusercontent.com/828228/92298830-0c9d3f00-ef77-11ea-91f6-37104fd41091.png)

[2020-09-05 08:38] vktr commented on #870
Hey @vinajuliette! Thanks for reporting - we'll get it sorted for the next release.

[2020-09-05 08:39] vktr commented on #871
I've seen it but haven't found a real solution other than rewriting the preferences dialog completely. I'll see what we can do for the next version.

[2020-09-05 08:49] birkoffe commented on #867
Send my dumps on selecting one of torrent.

[2020-09-05 11:06] Dyras opened #873 "docs.picotorrent.org is down"
Greetings
Click this:
https://docs.picotorrent.org/
This should show: (I use a VPN so I don't care that my IP is visible)
![image](https://user-images.githubusercontent.com/12563436/92303800-a44f5d00-ef78-11ea-885d-1788bf7dce10.png)

[2020-09-05 12:56] vktr commented on #867
@birkoffe I've identified the issue from the reports you sent, it should already be fixed in the latest `master` builds. I dunno why it didn't make the v0.19 release but I'm planning a patch release soon which will have this fix

[2020-09-05 13:54] phalox commented on #867
Should have arrived in your mailbox :)

[2020-09-05 13:58] vktr commented on #867
Yes! I got it :)

[2020-09-05 16:43] TruckerZer0 opened #876 "Italian translation incomplete - Missing strings"
Hello, and thanks you very much for this little gem, day after day it's really becoming my torrent workhorse!

not knowing how to collaborate for the moment I will report the missing parts in the translation with the related missing text translated:

In the menu bar, the "Visualizza" (View) menu shows:
Visualizza -> amp_filter -> amp_none / filter_downloading_active / filter_uploading_active
|
Pan

[2020-09-05 16:57] vktr commented on #876
Hi! Thanks for the report! I'll see if I can add those specific changes or if we wait until someone can send a PR 😄

[2020-09-05 17:35] #872 closed

[2020-09-05 18:53] birkoffe opened #879 "Simplify working with Russian translation file"
For easy to translation I want make line to line keys between 1033 and 1049 files.
In the process of working on #878 I found that 1049.json have keys not contained in original 1033.json

So,
1. 1033 now contain all elements for translations?

2. These phrases are no longer needed?
`remote
options
enable_websocket_api
security
access_token
certificate_public_key
statistics
show_qr_code
config_error

[2020-09-05 19:03] vktr commented on #879
Yeah, the original `1033.json` contains all translations. It is correct that it has some keys that we don't use anymore and should be removed.

I can probably manage to remove the unused keys myself, but I would like to make it easier for translators to work with the files as well. Do you have any suggestions on how I can make it easier for you?

[2020-09-05 19:27] birkoffe commented on #879
Weird.

For example,
`s_of_s` missing in `1033.json`, but there is in `1049.json` and his result in torrent list such as `%s (из %s)` without current numbers.

![изображение](https://user-images.githubusercontent.com/828228/92312114-07c4a380-efe8-11ea-888b-b2062c690959.png)

Can you check original file.

Ideally wanted alphabet ordered keys in original json file.

[2020-09-05 19:44] birkoffe commented on #879
Except checking `remote options enable_websocket_api security access_token certificate_public_key statistics show_qr_code config_error_s config_error_title dht_i64d_nodes i64d_torrents encrypt_config_file s_of_s`, need add to `1033` phrases from
announces panel

![изображение](https://user-images.githubusercontent.com/828228/92312458-f204ad80-efea-11ea-8a7b-5ae3eb69353f.png)

[2020-09-05 20:40] #870 closed

[2020-09-05 20:44] vktr commented on #879
Here's a list of all the keys used,

[code]

Regarding the advanced settings and phrases - the idea there was to just copy the libtorrent comment for each setting to make it easy, and not have to translate everything... There's a lot of phrases to come 😄

[2020-09-06 08:24] ivanjaros commented on #867
i just got the 0.19.0 and immediately the UI is more responsive, less laggy/slow, or whatever you want to call it. so far no crash :D

[2020-09-06 13:20] Eqnesto commented on #633
Facing same issue for 0.18 and 0.19.

[2020-09-06 13:33] Eqnesto commented on #633
Issue might be with VC Redistributable version combability.

Notice how PicoTorrent is trying to install 14.23.27820, but I already have latest 14.26.28720 installed:
![image](https://user-images.githubusercontent.com/16270563/92326882-71ae6e80-f023-11ea-86f0-2a229d3cf05a.png)
![image](https://user-images.githubusercontent.com/16270563/92326896-8ab71f80-f023-11ea-9988-31114bb70437.png)

Hope it he

[2020-09-06 14:35] vktr commented on #867
Great to hear! I'm planning a release later tonight which will I hope will fix this issue.

[2020-09-06 14:36] vktr commented on #633
Thanks for the info! I'll see if I can reproduce it in Windows Sandbox.

[2020-09-06 15:18] ivanjaros opened #882 "Visually indicate seeding and leeching"
Currently the only way to determine if torrent is being downloaded or uploaded(once it is completely downloaded) is the text "Seeding" and "Downloading" in the _status_ column. It would be nice if there would be an option for icon instead of text(just add new column) so one can visually immediately see the status of the torrents.

[2020-09-07 21:17] vktr commented on #871
@birkoffe I pushed this to a future release since I wanted to time the 0.20 version with the libtorrent 2.0 release.

[2020-09-07 21:19] vktr commented on #867
Hey thread! I've just released v0.20 which I believe fixes the issues in here. Closing this for now, but if the issues still persist - feel free to reopen or create a new issue. Thanks!

[2020-09-07 21:19] #867 closed

[2020-09-07 22:16] fcicq opened #885 "Windows on ARM (ARM64) support?"
VS2017+ has ARM64 compiler. and PlatformTarget.ARM64 exists on cakebuild.
https://cakebuild.net/api/Cake.Common.Tools.MSBuild/PlatformTarget/

I dont know the correct value for platform (in build.cake)?
[code]

[2020-09-07 22:22] vktr commented on #885
Hi! It should be doable, depending on Boost, wxWidgets etc. I'll have to look into it :)

Do you know which devices run Windows on ARM?

[2020-09-07 22:27] fcicq commented on #885
platform seems to be "arm64" (from other project pull request for sln files)

---

Surface Pro X or something... and Raspberry Pi 3/4 with UEFI? and KVM enabled linux ARM64 devices.

[2020-09-07 22:30] vktr commented on #885
Oh, yeah that's right - you can run Windows on R-Pi now 😄 Thanks!

[2020-09-07 22:49] fcicq commented on #885
for openssl, VC-WIN64-ARM is introduced in v1.1.1, have to be built from source?
https://github.com/openssl/openssl/commit/5936e8884bc6f3b9ff9abf8ebbeb772809882f92

and maybe something like https://github.com/nodejs/node/pull/26001 ?

[2020-09-07 23:01] fcicq commented on #885
wxWidgets should be YES as https://github.com/wxWidgets/wxWidgets/commit/f69dbaa1aebd72652dfb6246bdeaffce4d83933d
and I see some Boost and arm64 related issues on vcpkg's repo, so hopefully ...

[2020-09-07 23:03] vktr commented on #885
Saw that as well - I just need to set up a target machine to test on.

[2020-09-08 01:16] birkoffe opened #886 "Wrong Cyrillic charset"
0.20.0

Trackerlist `tier_n` and `Error: {0}`

![изображение](https://user-images.githubusercontent.com/828228/92423421-45bdf500-f1ab-11ea-9889-75995911c35d.png)

[2020-09-08 06:51] vktr commented on #886
Thanks - sorry for missing all of these translations 😅

[2020-09-08 10:40] savchenko opened #888 "Provide an option to download vcredist(s) manually"
During the installation of v2.0, Picotorrent tries to download missing C++ redistributable packages:
[code]

Would be good to notify a user before reaching out to the Internet.

Perhaps show the link in the installer UI or display a dialogue _"Are you happy for us to download it for you"_?

[2020-09-08 10:46] vktr commented on #888
I've been thinking of bringing the installer to 2020 and give it high DPI support etc. I guess this issue would fit well in that scope.

Btw, are you getting this issue when installing with or without an internet connection?

[2020-09-08 11:02] asvc commented on #888
Internet connection is firewalled via [WFP layer](https://docs.microsoft.com/en-us/windows/win32/fwp/windows-filtering-platform-start-page), hence the error.

[2020-09-08 11:04] vktr commented on #888
Gotcha - I was just curious whether the error came from an invalid URL or lack of connection. Thanks :)

[2020-09-08 12:43] vktr commented on #888
Something like this perhaps?

![image](https://user-images.githubusercontent.com/1491824/92477832-8fc1cd80-f1e1-11ea-9551-bea8a429024c.png)

[2020-09-08 14:53] asvc commented on #888
Neat. Perhaps add a small helper button next to it? To allow user download manually.

![xxx](https://user-images.githubusercontent.com/300146/92492540-f5fb2000-f1e2-11ea-9021-dca80b96e7b0.png)

[2020-09-08 15:04] vktr commented on #888
That's a good idea. I'll make sure to include that when the PR comes.

[2020-09-08 20:40] S2F0amEgS2xvdmVy opened #889 "PicoTorrent saves to Temp instead of Save Path."
While "Save Path" in Preferences->Downloads was set to "C:\Users\Computer\Downloads\QB" the download appears in "C:\Users\Computer\AppData\Local\Temp".

Steps I took:

1. scoop install vcredist
2. scoop install picotorrent
3. picotorrent -> change preferences
4. restart picotorrent; verify save path
5. add magnet link
6. torrent -> open in explorer

[2020-09-08 20:42] vktr commented on #889
What preferences did you change?

If you select the torrent in the list view, which save path does it show in the Overview tab?

[2020-09-08 21:11] S2F0amEgS2xvdmVy commented on #889
@vktr Just this setting, vktr.
![Capture](https://user-images.githubusercontent.com/25454644/92528166-96276800-f228-11ea-8d9d-7e55eddc4a59.PNG)

[2020-09-08 21:14] vktr commented on #889
And also, did the correct save path show in the add torrent dialog?

[2020-09-08 21:17] S2F0amEgS2xvdmVy commented on #889
In the Overview tab it says "C:\Users\Computer\AppData\Local\Temp".

And yes the add torrent dialog shows (...)\Downloads\QB as a correct file path, as does Explorer, and as does Qbittorrent.

[2020-09-08 21:18] vktr commented on #889
I haven't seen similar behavior. Let me check

[2020-09-08 21:35] S2F0amEgS2xvdmVy commented on #889
Sorry, forgot to mention: running on Windows 1809.

[2020-09-09 01:59] Hexaae opened #891 "Italian translation update"
Wanted to help with Ita translation and missing strings... :)

[2020-09-09 06:00] vktr commented on #891
Italian translation is in `lang/1040.json`. You can reference the English translation in `lang/1033.json` as well.

[2020-09-09 13:56] vktr commented on #829
Should be available now (but out of date)

[2020-09-09 13:56] #829 closed

[2020-09-09 13:56] #873 closed

[2020-09-10 08:23] M1ch431 opened #894 "Hash mismatch when installing"
Installation of 0.20.0 went fine on my other computer yesterday, but on my main computer I went to update PicoTorrent and I get this:

`e000: Error 0x80091007: Hash mismatch for path: C:\ProgramData\Package Cache\.unverified\VC_redist.x64.exe, expected: 75F1AEE6DCCF3D6E6AC49926563737005B93BA13, actual: BDB645EBAF3C91ECEB1A143BE6793CA57E6435C3`

[2020-09-10 09:16] vktr commented on #894
I just tried in Windows Sandbox and it works correctly. Does your main computer have internet connection?

Also, you can install the C++ redistributable separately from https://aka.ms/vs/16/release/VC_redist.x64.exe if you just want to get going in the mean time.

[2020-09-10 09:26] M1ch431 commented on #894
Yes, it does. It seems like an older version of the C++ redistributable in my downloads folder is being used instead of fetching the new version online.

`Acquiring package: VC_redist.x64.exe, payload: VC_redist.x64.exe, copy from: C:\Users\Michael\Downloads\VC_redist.x64.exe`

[2020-09-10 09:31] vktr commented on #894
Yeah, I can reproduce the error like this,

* Create a file named `VC_redist.x64.exe` in `~/Downloads` with any content
* Install PicoTorrent
* It fails with the error *The hash value is not correct*

Full log file

[code]

[2020-09-10 09:32] M1ch431 commented on #894
Glad we figured it out. Thanks for your hard work on PicoTorrent!

[2020-09-10 09:33] vktr commented on #894
Thank you for reporting! :) Easiest temporary fix would be to delete the VC_redist.x64.exe from your Downloads folder I think.

[2020-09-10 12:39] Tranberry opened #895 "Wrong icon on taskbar"
I'm experiencing an odd issue, windows 10 shows the wrong icon for PicoTorrent in the taskbar. I've tried `ie4uinit -show` in cmd/run but that doesn't solve the issue.

 ![Image of taskbar icon](https://i.imgur.com/Z5DBEOG.png)

Afaik this only happens for picotorrent.

[2020-09-10 13:09] vktr commented on #895
There is a similar issue here - #761

If you try to run PicoTorrent from the zip file instead, does that instance have an app icon in the taskbar?

[2020-09-10 16:59] S2F0amEgS2xvdmVy commented on #889
I haven’t been able to replicate this issue, so I will close it unless someone is able to replicate it again.

Thanks for the attention, vktr!

[2020-09-10 16:59] #889 closed

[2020-09-10 18:27] Tranberry commented on #895
I solved this by replacing the shortcut `picotorrent.ink` located in `C:\ProgramData\Microsoft\Windows\Start Menu\Programs\PicoTorrent.lnk` which didn't have `target` filled.

![](https://i.imgur.com/T9JO7C4.png)

[2020-09-10 18:44] vktr commented on #895
Odd, that link is created by the installer. I wonder why it wasn't created correctly on your machine. Which version of Windows 10 are you running?

[2020-09-10 20:27] vktr opened #897 "Debug build crashes when selecting torrent"
This only occurs in debug mode - torrent seems to work fine in release builds. It doesn't crash.

To reproduce

- Download [crash-torrent.zip](https://github.com/picotorrent/picotorrent/files/5204456/crash-torrent.zip)
- Add torrent to any save path
- Select torrent in list view
- PicoTorrent asserts in wxWidgets with the error `invalid item`.

[code]

[2020-09-10 22:42] #493 closed

[2020-09-10 22:43] #567 closed

[2020-09-10 22:43] #572 closed

[2020-09-10 22:44] #612 closed

[2020-09-10 22:46] vktr commented on #691
Torrents are not stored in separate files in latest version, closing this as no fix.

[2020-09-10 22:46] #691 closed

[2020-09-10 22:47] vktr commented on #728
Closing this as I believe it is fixed in the latest version. Feel free to reopen or file another issue if I'm wrong :)

[2020-09-10 22:47] #728 closed

[2020-09-11 10:34] Tranberry commented on #895
OS Name:	Microsoft Windows 10 Pro
Version:		10.0.18363 Build 18363

Are the version.

[2020-09-12 15:01] TechAdvancedCyborg commented on #418
It works on Wine, for those interested!

[2020-09-12 15:02] TechAdvancedCyborg commented on #418
but yeah soon:tm:
![image](https://user-images.githubusercontent.com/17462236/92998362-b7829f80-f519-11ea-8742-0cdf9cf35141.png)

[2020-09-12 15:58] #483 closed

[2020-09-14 07:28] #871 closed

[2020-09-15 21:44] #886 closed

[2020-09-16 12:56] chris11c opened #902 "Bind to IP does not fully work"
I love the application and created an account here just to post this, thank you for an awesome app!

I start my VPN then set the Listen Interface to my VPN IP.  I check the connection to ensure it is using the VPN by using an ip leak testing magnet link (another issue, sometimes ip leak testing magnet links do not load) and checking the connected IP.

If I disconnect the VPN connection, the torren

[2020-09-16 13:01] vktr commented on #902
I think I fixed this issue by proxy when doing #899. Can you download the latest build from AppVeyor and check? Available here https://ci.appveyor.com/project/picotorrent/picotorrent/builds/35224502/job/nwcqkyi0acn32hme/artifacts

[2020-09-16 14:16] chris11c commented on #902
Looks like that version fixed it!

Though if I go to:
Preferences>Connection>Click old IP>Edit  The popup shows Network Adapter box as empty, if I click OK without changing anything, it crashes the application.  If I choose a working IP/Adapter, it works fine.  Just a heads up!

[2020-09-16 14:29] vktr commented on #902
Great - can confirm the network adapter issue you found. I'll open a new issue for that :)

[2020-09-16 14:29] #902 closed

[2020-09-16 14:32] vktr opened #903 "Saving the network adapter input dialog when no adapter selected crashes application"
Hitting Ok in the dialog for adding/editing network adapters when no adapter or port is selected will crash the application. Add input validation.

[2020-09-17 12:10] phalox opened #904 "Crash when adding magnet link"
v 0.20.0

When adding a magnet link, I believe that when I confirm the download before the magnet link has been fully processed (aka, when the files are visible), that picotorrent crashes.

It's a bit hard to reproduce, because you need to click fast. I submitted the crash report.

[2020-09-17 20:18] vktr commented on #891
We now use Crowdin if you want an easier tool for translating :) Please head over to https://crowdin.com/project/picotorrent if you're interested!

[2020-09-17 20:18] #891 closed

[2020-09-17 20:19] vktr commented on #879
Closing this since I think Crowdin meets the need.

[2020-09-17 20:19] #879 closed

[2020-09-17 20:20] vktr commented on #876
Head over to Crowdin if you want to help translate PicoTorrent :) https://crowdin.com/project/picotorrent

[2020-09-17 20:20] #876 closed

[2020-09-17 20:21] vktr commented on #840
Hi @matejbolko! We've added Crowdin to make it easier for translators to work with the files :) Head over to https://crowdin.com/project/picotorrent if you're interested!

[2020-09-17 20:21] #840 closed

[2020-09-17 20:21] vktr commented on #775
@Rakleed I've added Crowdin just now - https://crowdin.com/project/picotorrent. Also, English is now the fallback language.

[2020-09-17 20:21] #775 closed

[2020-09-17 20:23] vktr commented on #760
I've fixed a few bugs in how we get the user language, so I think this issue is fixed. Please reopen if not, or file a new one!

[2020-09-17 20:23] #760 closed

[2020-09-17 20:24] vktr commented on #660
I'm closing this since I think most "issues" with the translations are resolved - we now fall back to English instead of the translation keys. Also, we use Crowdin to translate so it's easy to help - https://crowdin.com/project/picotorrent.

[2020-09-17 20:24] #660 closed

[2020-09-17 20:27] vktr commented on #641
Hey @slrslr! Sorry for the late answer - I've reworked the Trackers tab to better show how the trackers are organized, and there's also new settings for announcing to all tiers and/or all trackers. It will be released in the next version, so I'm closing this. Feel free to open a new issue if you find anything wrong.

[2020-09-17 20:27] #641 closed

[2020-09-17 20:34] Rakleed commented on #775
@vktr can translators now only translate your app on Crowdin or will you also be accepting PR with language file changes on GitHub? And how will the process of adding new translations to the program from Crowdin be organized in general?

[2020-09-17 20:37] vktr commented on #775
Translators can use either Crowdin or send regular pull requests on the JSON files - both ways are fine. I'm not 100% sure on Crowdin yet since the translator gets no attribution, all commits looks like they are from me.

What do you mean adding new translations - adding languages on Crowdin? Or adding them to PicoTorrent when building?

[2020-09-17 20:49] Rakleed commented on #775
Second one.

[2020-09-17 20:50] vktr commented on #775
Every translation file in the `lang/` folder will automatically be added as part of the build process - there's a new utility which builds the new translation database, which iterates through each translation file.

[2020-09-17 20:52] vktr commented on #775
More specifically, here; https://github.com/picotorrent/picotorrent/blob/master/src/l10n/main.cpp

[2020-09-17 21:18] vktr commented on #904
Hey @phalox! Thanks for the report. I found some issues and have put up a PR with the fixes.

[2020-09-18 09:08] comradekingu opened #911 "Translation on Weblate"
I want to help translate picotorrent, but any way of doing so now leaks into the translation memory over at Crowdin. Could you set up shop at Hosted Weblate instead?

[2020-09-18 09:12] vktr commented on #911
Hey @comradekingu! I'm not really pleased with how Crowdin turned out either - one reason being the one you mention, the other one being the attribution where everything will be attributed to me due to how they have set up the GitHub integration.

I'm working on a tool to do this The Right Way - but I'll checkout Weblate as well. Thanks for the tip!

[2020-09-18 16:42] TechAdvancedCyborg commented on #904
Same!

[2020-09-18 16:43] TechAdvancedCyborg commented on #703
👀

[2020-09-18 17:06] vktr commented on #703
For the foreseeable future we won't support dark mode unfortunately, due to using wxWidgets which builds on the Win32 APIs there is no support for dark mode.

In the future we might move towards WinUI 3.0 which will be released sometime 2021 and then dark mode is built in.

[2020-09-18 17:25] #904 closed

[2020-09-18 17:28] vktr commented on #911
Hi again! I've set up a Weblate at https://translate.picotorrent.org - feel free to check it out :)

@birkoffe, @TechAdvancedCyborg you might be interested in this as well. Might shut down Crowdin due to various reasons. What's your opinion?

[2020-09-18 18:22] comradekingu commented on #911
@vktr That was quick. I am not getting the registration e-mail for it.
It is possible to set up https://docs.weblate.org/en/latest/admin/auth.html#social-authentication for login.

[2020-09-18 18:25] vktr commented on #911
I'm certain - I'll dive into it 😃

Re: registration e-mail - did you check the spam folder? I'm using my own mail servers and they might not have the reputation needed :)

[2020-09-18 18:46] comradekingu commented on #911
No such luck even trying a Gmail account

[2020-09-18 18:46] vktr commented on #911
Odd. I'll see what I can find.

[2020-09-18 18:53] comradekingu commented on #911
@vktr Works now

[2020-09-18 18:53] vktr commented on #911
Sweet - did the email arrive?

[2020-09-18 19:34] comradekingu commented on #911
@vktr Yes. https://translate.picotorrent.org/languages/nb_NO/ done.
I found some errors, but mostly things that could be improved. Will submit a PR for those.
https://translate.picotorrent.org/zen/picotorrent/application/nb_NO/?q=state%3A%3Ctranslated these ones (those some are things I am unsure about in Norwegian Bokmål)

[2020-09-18 19:37] vktr commented on #911
Awesome! 😃 I haven't worked with Weblate before, but is it you or me that clicks Commit and Push in Weblate?

[2020-09-18 19:47] comradekingu commented on #911
@vktr You do that, but you can also set up webhooks https://docs.weblate.org/en/latest/admin/continuous.html#automatically-receiving-changes-from-gitlab

[2020-09-18 19:49] vktr commented on #911
I see! I have set up a webhook for GitHub but that is only to trigger a sync in Weblate when this repo changes. I'll have to look into if it can send changes automatically somehow so nothing is forgotten.

[2020-09-18 21:26] comradekingu commented on #911
I incapacitated myself, but I added PicoTorrent to https://github.com/WeblateOrg/weblate/wiki/References
Hopefully the Crowdin integration can be shut down, so that nothing enters their closed source translation memory.

[2020-09-19 09:53] TechAdvancedCyborg commented on #911
Gonna check it out

[2020-09-19 09:55] TechAdvancedCyborg commented on #911
Looks nice!

[2020-09-19 22:36] Rakleed commented on #702
@vktr in versions 0.20 and 0.21, and possibly in 0.19, this notification disappeared when changing the language. Why?

[2020-09-19 22:37] vktr commented on #702
It's probably a regression from the move to wxWidgets. Sorry about that. I'll fix it for the next version.

[2020-09-19 23:13] Tranberry commented on #895
![image](https://user-images.githubusercontent.com/16529/93690903-4ffebe00-fade-11ea-978e-6715b64deaf1.png)

PicoTorrent version 0.21.08b2572c

[2020-09-19 23:15] vktr commented on #895
Thanks for the update - I haven't had the opportunity to look at this yet. Did it reset when you upgraded?

[2020-09-19 23:15] Tranberry commented on #895
I downloaded the 64bit installer and it reverted.

[2020-09-19 23:17] vktr commented on #895
That's not good. I'll see what I can do to fix this in the installer rewrite I'm working on. Thanks for reporting!

[2020-09-20 12:11] zero77 opened #915 "BitTorrent v2 Support"
Can you please add support for BitTorrent v2.
https://blog.libtorrent.org/2020/09/bittorrent-v2/